force-app/main/default/flows/Application_V2_update_substage.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>New_Sub_Stage</name>
        <label>New Sub Stage</label>
        <locationX>490</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>NewSubStage.TR1__Application__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSubStage.TR1__ATS_Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.TR1__Stage__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSubStage.TR1__Is_Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewSubStage.TR1__Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Substage__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_sub_stage</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Active_SubStage_Exist</name>
        <label>Active SubStage Exist</label>
        <locationX>336</locationX>
        <locationY>1031</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Fetch_Active_SubStage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Make_Sub_Stage_in_Active</targetReference>
            </connector>
            <label>Copy 1 of Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Active</name>
        <label>Is Active?</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Fetch_Active_SubStage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Active</defaultConnectorLabel>
        <rules>
            <name>inactive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Fetch_SubStage.TR1__Is_Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Make_Sub_Stage_Active</targetReference>
            </connector>
            <label>Inactive</label>
        </rules>
    </decisions>
    <decisions>
        <name>SubStage_Exist</name>
        <label>SubStage Exist</label>
        <locationX>336</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>New_Sub_Stage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Fetch_SubStage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Active</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Application V2 update substage {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Application V2 update substage</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>create_sub_stage</name>
        <label>create sub. stage</label>
        <locationX>490</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Fetch_Active_SubStage</targetReference>
        </connector>
        <inputReference>NewSubStage</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Fetch_Active_SubStage</name>
        <label>Fetch Active SubStage</label>
        <locationX>336</locationX>
        <locationY>923</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Active_SubStage_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TR1__Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>TR1__ATS_Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.TR1__Stage__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>TR1__Value__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Substage__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>TR1__Is_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>TR1__Sub_Status__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Fetch_SubStage</name>
        <label>Fetch SubStage</label>
        <locationX>336</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SubStage_Exist</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND (4 or 5 )</filterLogic>
        <filters>
            <field>TR1__Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>TR1__ATS_Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.TR1__Stage__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>TR1__Value__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Substage__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>TR1__Is_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>TR1__Is_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>TR1__Sub_Status__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Make_Sub_Stage_Active</name>
        <label>Make Sub Stage Active</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Fetch_Active_SubStage</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Fetch_SubStage.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TR1__Is_Active__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>TR1__Sub_Status__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Make_Sub_Stage_in_Active</name>
        <label>Make Sub Stage in Active</label>
        <locationX>204</locationX>
        <locationY>1139</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Fetch_Active_SubStage.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TR1__Is_Active__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>TR1__Sub_Status__c</object>
    </recordUpdates>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Fetch_SubStage</targetReference>
        </connector>
        <filterFormula>AND(
   {!$Setup.Active_Trigger_Flow_VR__c.ApplicationV2_Flow__c} = TRUE,
    OR(
        ISCHANGED({!$Record.TR1__Stage__c}),
        ISCHANGED({!$Record.Substage__c})
    )
)</filterFormula>
        <object>TR1__Application_V2__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>NewSubStage</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TR1__Sub_Status__c</objectType>
    </variables>
</Flow>
