force-app/main/default/flows/Application_Send_Email_on_Internal_Submission.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_To_Collaborators</name>
        <label>Send Email To Collaborators</label>
        <locationX>712</locationX>
        <locationY>520</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientAddresses</name>
            <value>
                <collectionElements>
                    <elementReference>CollaboratorEmails</elementReference>
                </collectionElements>
                <collectionElements>
                    <elementReference>$Record.TR1__Job__r.Owner:User.Email</elementReference>
                </collectionElements>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>salesforce@randstaddigital.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useEmailTemplate</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00XQF00000HLf6P2AT</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.CreatedById</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>2.0.1</versionString>
    </actionCalls>
    <actionCalls>
        <name>Split_IDs_and_Get_Emails</name>
        <label>Split IDs and Get Emails</label>
        <locationX>528</locationX>
        <locationY>420</locationY>
        <actionName>CollaboratorEmailService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Send_Email_To_Collaborators</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>delimiter</name>
            <value>
                <stringValue>;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputIdsString</name>
            <value>
                <elementReference>$Record.TR1__Job__r.Collaborator__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CollaboratorEmailService</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>CollaboratorEmails</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>Sends an email alert when Application&apos;s stage changes to Internal Interview.</description>
    <environments>Default</environments>
    <interviewLabel>Application Send Email on Internal Submission {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Application Send Email on Internal Submission</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>401</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Split_IDs_and_Get_Emails</targetReference>
        </connector>
        <filterFormula>AND(
    {!$Setup.Active_Trigger_Flow_VR__c.ApplicationV2_Flow__c} = TRUE,
    {!$Record.User_Opco__c} = &apos;US&apos;,
    ISCHANGED({!$Record.TR1__Stage__c}),
    ISPICKVAL({!$Record.TR1__Stage__c}, &apos;Internal Interview&apos;)
)</filterFormula>
        <object>TR1__Application_V2__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>CollaboratorEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
