force-app/main/default/flows/Ats_stage_change_color_when_assignment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_Substagecollection</name>
        <label>Add to Substagecollection</label>
        <locationX>264</locationX>
        <locationY>984</locationY>
        <assignmentItems>
            <assignToReference>Applicationsubstage</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>substage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Applicationv2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Application</name>
        <label>Assign Application</label>
        <locationX>264</locationX>
        <locationY>468</locationY>
        <assignmentItems>
            <assignToReference>Ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>For_Each.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_substatus</name>
        <label>Assign substatus</label>
        <locationX>264</locationX>
        <locationY>876</locationY>
        <assignmentItems>
            <assignToReference>substage.TR1__Application__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Applicationv2.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>substage.TR1__Is_Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>substage.TR1__ATS_Stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closing Report</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>substage.TR1__Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Placement -Completed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Substagecollection</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()-1</expression>
    </formulas>
    <interviewLabel>Ats Stage change color when assignment completed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Ats stage change color when assignment completed</label>
    <loops>
        <name>For_Each</name>
        <label>For Each engagements</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <collectionReference>Engagement</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Application</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Application_v2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Applicationv2</name>
        <label>Loop Applicationv2</label>
        <locationX>176</locationX>
        <locationY>768</locationY>
        <collectionReference>Application_v2</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_substatus</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_substatus</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Update_substatus</name>
        <label>Update substatus</label>
        <locationX>176</locationX>
        <locationY>1176</locationY>
        <inputReference>Applicationsubstage</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Application_v2</name>
        <label>Application v2</label>
        <locationX>176</locationX>
        <locationY>660</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Applicationv2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TR1__Closing_Report__c</field>
            <operator>In</operator>
            <value>
                <elementReference>Ids</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>TR1__Application_V2__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Engagement</name>
        <label>Engagement</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_Each</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TR1__End_Date__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>TR1__Closing_Report__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Engagement</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-07-15</startDate>
            <startTime>00:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Applicationsubstage</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>TR1__Sub_Status__c</objectType>
    </variables>
    <variables>
        <name>Engagementsfetched</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>TR1__Closing_Report__c</objectType>
    </variables>
    <variables>
        <name>Engagementsrecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>TR1__Closing_Report__c</objectType>
    </variables>
    <variables>
        <name>Ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>substage</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>TR1__Sub_Status__c</objectType>
    </variables>
</Flow>
