force-app/main/default/flows/ATS_Application.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Permission</name>
        <label>Create Permission</label>
        <locationX>248</locationX>
        <locationY>782</locationY>
        <actionName>FlowCustomPermissionChecker</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Read_Permission</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>permissionName</name>
            <value>
                <stringValue>Allow_Create_Applications</stringValue>
            </value>
        </inputParameters>
        <nameSegment>FlowCustomPermissionChecker</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Edit_Permission</name>
        <label>Edit Permission</label>
        <locationX>248</locationX>
        <locationY>998</locationY>
        <actionName>FlowCustomPermissionChecker</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Read_Access</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>permissionName</name>
            <value>
                <stringValue>Allow_Edit_Applications</stringValue>
            </value>
        </inputParameters>
        <nameSegment>FlowCustomPermissionChecker</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Read_Permission</name>
        <label>Read Permission</label>
        <locationX>248</locationX>
        <locationY>890</locationY>
        <actionName>FlowCustomPermissionChecker</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Edit_Permission</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>permissionName</name>
            <value>
                <elementReference>Custom_Permission.View__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FlowCustomPermissionChecker</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Record_Type_Name</name>
        <label>Assign Record Type Name</label>
        <locationX>501</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>recordTypeName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_ApplicationV2.RecordType.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opco</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_ApplicationV2.TR1__Job__r.Responsible_Opco__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Field_Set</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Read_Access</name>
        <label>Check Read Access</label>
        <locationX>248</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>If_Edit_Access</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Read_Access</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Read_Permission.hasPermission</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Create_Permission.hasPermission</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Edit_Permission.hasPermission</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Permission_Access</targetReference>
            </connector>
            <label>Read Access</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Edit_Access</name>
        <label>If Edit Access</label>
        <locationX>446</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>Screening</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_and_Edit_Access</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_Permission.hasPermission</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Edit_Permission.hasPermission</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MandatoryFieldsubflow</targetReference>
            </connector>
            <label>Create and Edit Access</label>
        </rules>
    </decisions>
    <decisions>
        <name>Responsible_Opco</name>
        <label>Responsible Opco</label>
        <locationX>501</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>MandatoryFieldsubflow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>US</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Custom_Metadata.ATS_Security_Enable_Opco__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Custom_Permission</targetReference>
            </connector>
            <label>US</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>isReadOnly</name>
        <dataType>Boolean</dataType>
        <expression>AND({!Create_Permission.hasPermission}=False,{!Edit_Permission.hasPermission}=False)</expression>
    </formulas>
    <interviewLabel>ATS Application {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ATS Application</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Custom_Metadata</name>
        <label>Custom Metadata</label>
        <locationX>501</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Responsible_Opco</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ATS_Security_Enable_Opco__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Get_ApplicationV2.TR1__Job__r.User_Opco__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RD1_Settings__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Custom_Permission</name>
        <label>Custom Permission</label>
        <locationX>248</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Permission</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>appStage</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Application_Stage_Access__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_ApplicationV2</name>
        <label>Get ApplicationV2</label>
        <locationX>501</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Record_Type_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>TR1__Application_V2__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Permission_Access</name>
        <label>Permission Access</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Alert</name>
            <extensionName>c:atsMessagePopup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screening</name>
        <label>Screening</label>
        <locationX>446</locationX>
        <locationY>1514</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>atsStageForm</name>
            <extensionName>c:atsStageForm</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldSetName</name>
                <value>
                    <elementReference>fieldSetName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>TR1__Application_V2__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>appStage</name>
                <value>
                    <elementReference>appStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isReadOnly</name>
                <value>
                    <elementReference>isReadOnly</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>footer</name>
            <extensionName>c:CustomFlowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>375</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_ApplicationV2</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Get_Field_Set</name>
        <label>Get Field Set</label>
        <locationX>501</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Custom_Metadata</targetReference>
        </connector>
        <flowName>ATS_Field_Set_Fetch_Sub_Flow</flowName>
        <inputAssignments>
            <name>appStage</name>
            <value>
                <elementReference>appStage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>opco</name>
            <value>
                <elementReference>opco</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordTypeName</name>
            <value>
                <elementReference>recordTypeName</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>fieldSetName</assignToReference>
            <name>fieldSetName</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>MandatoryFieldsubflow</name>
        <label>MandatoryFieldsubflow</label>
        <locationX>314</locationX>
        <locationY>1322</locationY>
        <connector>
            <targetReference>Screening</targetReference>
        </connector>
        <flowName>MandatoryFields</flowName>
        <inputAssignments>
            <name>appStage</name>
            <value>
                <elementReference>appStage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CandidateRecords</name>
            <value>
                <elementReference>CandidateRecords</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>appStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Application</stringValue>
        </value>
    </variables>
    <variables>
        <name>CandidateRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>fieldSetName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>opco</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
