force-app/main/default/flows/Contractual_Value.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Contractual_review</name>
        <label>Contractual review</label>
        <locationX>689</locationX>
        <locationY>377</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Legal_Compliance__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contractual_Update</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Contractual Value {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contractual Value FLow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Contractual_Update</name>
        <label>Contractual Update</label>
        <locationX>764</locationX>
        <locationY>525</locationY>
        <inputAssignments>
            <field>Administrative_Completeness__c</field>
            <value>
                <elementReference>ContractualVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Data_Protection_Compliance__c</field>
            <value>
                <elementReference>ContractualVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Export_Control_Adherence__c</field>
            <value>
                <elementReference>ContractualVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Optimized_Invoicing_Schedule__c</field>
            <value>
                <elementReference>ContractualVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Security_Requirements_Met__c</field>
            <value>
                <elementReference>ContractualVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subcontractor_Alignment__c</field>
            <value>
                <elementReference>ContractualVar</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>572</locationX>
        <locationY>41</locationY>
        <connector>
            <targetReference>Contractual_review</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ContractualVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Legal_Compliance__c</elementReference>
        </value>
    </variables>
</Flow>
