force-app/main/default/flows/Contact_Before_Save_Recordtype_Flag_for_Filter.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Record_Type_Decision</name>
        <label>Record Type Decision</label>
        <locationX>314</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Update_Candidate_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Candidate</defaultConnectorLabel>
        <rules>
            <name>Is_Client_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_Record</targetReference>
            </connector>
            <label>Is Client Contact</label>
        </rules>
        <rules>
            <name>Is_3rd_Party_Candidate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3rd Party Supplier</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_3rd_Party_Candidate_Record</targetReference>
            </connector>
            <label>Is 3rd Party Candidate</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>DefaultAccount</name>
        <dataType>String</dataType>
        <expression>IF(ISCHANGED({!$Record.AccountId}),{!$Record.AccountId},{!$Setup.TR1__TalentRoverProperties__c.TR1__Default_Account__c})</expression>
    </formulas>
    <formulas>
        <name>IsHiringManager</name>
        <dataType>Boolean</dataType>
        <expression>IF(ISCHANGED({!$Record.TR1__Is_Hiring_Manager__c}),{!$Record.TR1__Is_Hiring_Manager__c},False)</expression>
    </formulas>
    <interviewLabel>Contact - Before Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact - Before Save Recordtype Flag for Filter</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_3rd_Party_Candidate_Record</name>
        <label>Update 3rd Party Candidate Record</label>
        <locationX>314</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>TR1__Is_Candidate_Contact__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TR1__Is_Client_contact__c</field>
            <value>
                <stringValue>No</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TR1__Is_Contact__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TR1__Is_Hiring_Manager__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TR1__Is_Interviewer_s__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TR1__Is_Select_Candidate__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TR1__Is_Timesheet_Approver__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TR1__Is_Timesheet_Second_Approver__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Candidate_Record</name>
        <label>Update Candidate Record</label>
        <locationX>578</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>DefaultAccount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TR1__Is_Client_contact__c</field>
            <value>
                <stringValue>No</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TR1__Is_Contact__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TR1__Is_Hiring_Manager__c</field>
            <value>
                <elementReference>IsHiringManager</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TR1__Is_Interviewer_s__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TR1__Is_Select_Candidate__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TR1__Is_Timesheet_Approver__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TR1__Is_Timesheet_Second_Approver__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_Record</name>
        <label>Update Contact Record</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>TR1__Is_Candidate_Contact__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TR1__Is_Person_Placed__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TR1__Is_Select_Candidate__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Record_Type_Decision</targetReference>
        </connector>
        <filterFormula>{!$Setup.Active_Trigger_Flow_VR__c.Contact_Flow__c} = TRUE</filterFormula>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
