force-app/main/default/flows/countDownTimer_Update_job_status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Status_to_collection</name>
        <label>Add Status to collection</label>
        <locationX>270</locationX>
        <locationY>1500</locationY>
        <assignmentItems>
            <assignToReference>UpdateStatus</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Job</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Job</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Accounts</name>
        <label>Assign Accounts</label>
        <locationX>270</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>Ids</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_accounts.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_accounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opportunities</name>
        <label>Assign Opportunities</label>
        <locationX>270</locationX>
        <locationY>984</locationY>
        <assignmentItems>
            <assignToReference>Idss</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Opportunities.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Opportunities</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Status</name>
        <label>Assign Status</label>
        <locationX>270</locationX>
        <locationY>1392</locationY>
        <assignmentItems>
            <assignToReference>Loop_through_Job.TR1__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_Job.TR1__Closed_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_through_Job.TR1__Closed_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed Expired</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Status_to_collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Checking_Job_Status</name>
        <label>Checking Job Status</label>
        <locationX>182</locationX>
        <locationY>1800</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Checking_job_status_closed_expired</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Job.TR1__Status__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Opportunity_Stage</targetReference>
            </connector>
            <label>Checking job status closed expired</label>
        </rules>
    </decisions>
    <description>Whenever timer left with 0 days in opportunity update job status field with closed expired</description>
    <environments>Default</environments>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>countDownTimer Update job status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>countDownTimer Update job status</label>
    <loops>
        <name>Loop_through_accounts</name>
        <label>Loop through accounts</label>
        <locationX>182</locationX>
        <locationY>468</locationY>
        <collectionReference>Fetch_Account</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Accounts</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>getOpportunity</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Job</name>
        <label>Loop through Job</label>
        <locationX>182</locationX>
        <locationY>1284</locationY>
        <collectionReference>get_Job_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Job_Status</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Opportunities</name>
        <label>Loop through Opportunities</label>
        <locationX>182</locationX>
        <locationY>876</locationY>
        <collectionReference>getOpportunity</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Opportunities</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>get_Job_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Fetch_Account</name>
        <label>Fetch Account</label>
        <locationX>182</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_accounts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AUSY_Changepoint_ID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Job_Records</name>
        <label>get Job Records</label>
        <locationX>182</locationX>
        <locationY>1176</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Job</targetReference>
        </connector>
        <filterLogic>(1 AND 2 AND 3 AND 6 AND ( 4 OR 5))</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>In</operator>
            <value>
                <elementReference>Idss</elementReference>
            </value>
        </filters>
        <filters>
            <field>TR1__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>TR1__Closed_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>TR1__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Accepting Candidates</stringValue>
            </value>
        </filters>
        <filters>
            <field>TR1__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Unqualified</stringValue>
            </value>
        </filters>
        <filters>
            <field>TR1__Status__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>TR1__Job__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RecordType_Id</name>
        <label>Get RecordType Id</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fetch_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Consultancy</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getOpportunity</name>
        <label>getOpportunity</label>
        <locationX>182</locationX>
        <locationY>768</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Opportunities</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND 4</filterLogic>
        <filters>
            <field>Expiry_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_RecordType_Id.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>In</operator>
            <value>
                <elementReference>Ids</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Matching</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Job_Status</name>
        <label>Update Job Status</label>
        <locationX>182</locationX>
        <locationY>1692</locationY>
        <connector>
            <targetReference>Checking_Job_Status</targetReference>
        </connector>
        <inputReference>UpdateStatus</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Stage</name>
        <label>Update Opportunity Stage</label>
        <locationX>50</locationX>
        <locationY>1908</locationY>
        <filterLogic>1 AND 2 AND (3 OR 4)</filterLogic>
        <filters>
            <field>Expiry_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_RecordType_Id.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Matching</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Reason_lost__c</field>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_RecordType_Id</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-07-23</startDate>
            <startTime>10:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Idss</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UpdateStatus</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>TR1__Job__c</objectType>
    </variables>
    <variables>
        <name>UpdateVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>TR1__Job__c</objectType>
    </variables>
</Flow>
