force-app/main/default/flows/Delete_Do_not_use_candidate_record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_records_to_collection_variable</name>
        <label>Assign records to collection variable</label>
        <locationX>270</locationX>
        <locationY>468</locationY>
        <assignmentItems>
            <assignToReference>listoflastmodifieddate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Contact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Contact</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>fiveyearsconstant</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>1825.0</numberValue>
        </value>
    </constants>
    <decisions>
        <description>Check If there are records</description>
        <name>Check_If_there_are_records</name>
        <label>Check If there are records</label>
        <locationX>182</locationX>
        <locationY>660</locationY>
        <defaultConnectorLabel>No Records</defaultConnectorLabel>
        <rules>
            <name>if_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>listoflastmodifieddate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Contact</targetReference>
            </connector>
            <label>if Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Fiveyearscandidate</name>
        <dataType>Date</dataType>
        <expression>DATETIMEVALUE(TODAY())-1</expression>
    </formulas>
    <formulas>
        <name>Vardatedifference</name>
        <dataType>Number</dataType>
        <expression>TODAY()-DATEVALUE({!Loop_Contact.LastModifiedDate})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Delete Do not use candidate record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Delete Do not use candidate record</label>
    <loops>
        <name>Loop_Contact</name>
        <label>Loop Contact</label>
        <locationX>182</locationX>
        <locationY>360</locationY>
        <collectionReference>Get_Contact</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_records_to_collection_variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_If_there_are_records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Contact</name>
        <label>Delete Contact</label>
        <locationX>50</locationX>
        <locationY>768</locationY>
        <inputReference>listoflastmodifieddate</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>lastmodfieddate__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>1825.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>DO_NOT_USE__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-05-18</startDate>
            <startTime>00:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>listoflastmodifieddate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>lstmodified</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Storedeletecontact</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
