force-app/main/default/flows/ESB_Submit_Opportunity_to_Tetris.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Ausy_ESB_Tetris_Submit_Opportunity</name>
        <label>Ausy ESB: Tetris Submit Opportunity</label>
        <locationX>324</locationX>
        <locationY>479</locationY>
        <actionName>TetrisOpportunityClosedWon</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>opptyID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>TetrisOpportunityClosedWon</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_RestrictedDataFlow</name>
        <label>Check RestrictedDataFlow</label>
        <locationX>650</locationX>
        <locationY>325</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_RestrictedDataFlowPermission</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.RestrictDataFlow</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TRUE_StageIsWon</targetReference>
            </connector>
            <label>Check RestrictedDataFlowPermission</label>
        </rules>
    </decisions>
    <decisions>
        <name>TRUE_StageIsWon</name>
        <label>TRUE_Stage is Won</label>
        <locationX>456</locationX>
        <locationY>371</locationY>
        <defaultConnectorLabel>False_StageIsWon</defaultConnectorLabel>
        <rules>
            <name>StageIsWon</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SoW</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ausy_ESB_Tetris_Submit_Opportunity</targetReference>
            </connector>
            <label>StageIsWon</label>
        </rules>
    </decisions>
    <description>re added condition &quot;tetris id = null&quot; since it was ping-ponging with esb non stop</description>
    <environments>Default</environments>
    <formulas>
        <name>RestrictedDataflowpermission</name>
        <dataType>Boolean</dataType>
        <expression>{!$Permission.RestrictDataFlow}</expression>
    </formulas>
    <interviewLabel>ESB Submit Opportunity to Tetris {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ESB Submit Opportunity to Tetris</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>186</locationX>
        <locationY>17</locationY>
        <connector>
            <targetReference>Check_RestrictedDataFlow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Tetris_ID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Responsible_Opco__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>US</stringValue>
            </value>
        </filters>
        <filters>
            <field>Responsible_Opco__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>UK</stringValue>
            </value>
        </filters>
        <filters>
            <field>Responsible_Opco__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Germany</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
