force-app/main/default/flows/ESB_Placement_Tag.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Sync_Closing_Report_to_Tetris</name>
        <label>Sync Closing Report to Tetris</label>
        <locationX>588</locationX>
        <locationY>479</locationY>
        <actionName>TetrisClosingReportSync</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>reportIds</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>TetrisClosingReportSync</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Opco_Decision</name>
        <label>Opco Decision</label>
        <locationX>456</locationX>
        <locationY>371</locationY>
        <defaultConnector>
            <targetReference>Sync_Closing_Report_to_Tetris</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Opco</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TR1__Job_Credit__r.Opco__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>US</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TR1__Job_Credit__r.Opco__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UK</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.TR1__Job_Credit__r.Opco__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Germany</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Permission.RestrictDataFlow</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Check if Restricted Opco</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>ESB Placement Tag {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ESB Placement Tag</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>330</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Opco_Decision</targetReference>
        </connector>
        <filterFormula>   {!$Setup.Active_Trigger_Flow_VR__c.Placement_Flow__c} = TRUE</filterFormula>
        <object>TR1__Closing_Report__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
