force-app/main/default/flows/Event_creation_from_SendOutV2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Adding_to_Assiginment</name>
        <label>Adding to Assiginment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>eventRelCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>eventRelRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Attendee_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_2</name>
        <label>Assignment 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Attendies</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.TR1__Interviewee__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Attendies</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.TR1__Interviewee_Ids__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Attendee_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>attendies_assignment</name>
        <label>attendies assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>eventRelRecord.EventId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Event</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>eventRelRecord.IsInvitee</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>eventRelRecord.RelationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!$Record}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Adding_to_Assiginment</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>recepient</name>
        <dataType>String</dataType>
        <expression>{!$Record.TR1__Interviewee__c} &amp; &quot; ; &quot; &amp; {!$Record.TR1__Interviewers_Ids__c}</expression>
    </formulas>
    <interviewLabel>Event creation from SendOutV2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Event creation from SendOutV2</label>
    <loops>
        <name>Attendee_Collection</name>
        <label>Attendee Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Attendies</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>attendies_assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_event_Relation</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Event</name>
        <label>Create Event</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assignment_2</targetReference>
        </connector>
        <inputAssignments>
            <field>DurationInMinutes</field>
            <value>
                <elementReference>$Record.TR1__Duration__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0127S000000TmisQAC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDateTime</field>
            <value>
                <elementReference>$Record.TR1__Interview_Date_Time__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TR1__Application_V2__c</field>
            <value>
                <elementReference>$Record.TR1__Application_V2__c</elementReference>
            </value>
        </inputAssignments>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_event_Relation</name>
        <label>Create event Relation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>eventRelCollection</inputReference>
    </recordCreates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Event</targetReference>
        </connector>
        <object>TR1__Send_Out_Schedule_V2__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>Attendies</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>eventRelCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>EventRelation</objectType>
    </variables>
    <variables>
        <name>eventRelRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>EventRelation</objectType>
    </variables>
</Flow>
