force-app/main/default/flows/Fixed_price_commitment_review_fields.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Customer_Documents_Reference_on_Proposal_is_changed</name>
        <label>Customer Documents Reference on Proposal is changed</label>
        <locationX>595</locationX>
        <locationY>425</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Documents_From_Customer_Referenced_on_Pr__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_offer_view_fields</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Fixed price commitment review fields {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Fixed price commitment review fields</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_offer_view_fields</name>
        <label>Update offer view fields</label>
        <locationX>614</locationX>
        <locationY>614</locationY>
        <inputAssignments>
            <field>Conformity_Matrix_for_SOW_Requirements__c</field>
            <value>
                <elementReference>Documents_From_Customer_ReferencedValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Deliverables_and_Acceptance_are_Defined__c</field>
            <value>
                <elementReference>Documents_From_Customer_ReferencedValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Non_Conformities_Justified__c</field>
            <value>
                <elementReference>Documents_From_Customer_ReferencedValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Supplies_Acceptance_and_Delivery_Detail__c</field>
            <value>
                <elementReference>Documents_From_Customer_ReferencedValue</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>490</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Customer_Documents_Reference_on_Proposal_is_changed</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Documents_From_Customer_ReferencedValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Documents_From_Customer_Referenced_on_Pr__c</elementReference>
        </value>
    </variables>
</Flow>
