force-app/main/default/flows/Logic_Melon_Job_posting_Delete_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_JobOrder_Delete_variables</name>
        <label>Set JobOrder Delete variables</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>EntityName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>JobOrder</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EntityType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>DELETED</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Logic_Melon_Job_posting_Deleted_Operation</targetReference>
        </connector>
    </assignments>
    <description>Logic Melon Job posting Delete flow</description>
    <environments>Default</environments>
    <interviewLabel>Logic Melon Job posting Delete flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Logic Melon Job posting Delete flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Logic Melon Job posting Deleted Operation</description>
        <name>Logic_Melon_Job_posting_Deleted_Operation</name>
        <label>Logic Melon Job posting Deleted Operation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>ClientBillRate__c</field>
            <value>
                <elementReference>$Record.Client_Bill_Rate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EntityName__c</field>
            <value>
                <elementReference>EntityName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EntityType__c</field>
            <value>
                <elementReference>EntityType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>JobDescription__c</field>
            <value>
                <elementReference>$Record.Job_Descripition_and_Responsibilities__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>JobId__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>JobName__c</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <object>LogicMelon_Job_Posting_Event__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_JobOrder_Delete_variables</targetReference>
        </connector>
        <filterFormula>AND(
   {!$Setup.Active_Trigger_Flow_VR__c.Job_Flow__c} = TRUE,
   TEXT({!$Record.Publishing_Status__c}) = &quot;Published - Approved&quot;,
   TEXT({!$Record.TR1__Status__c}) = &quot;Accepting Candidates&quot;
)</filterFormula>
        <object>TR1__Job__c</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>EntityName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EntityType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
