force-app/main/default/flows/Logic_Melon_Job_posting_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Check Job Field Changes</description>
        <name>Check_Job_Field_Changes</name>
        <label>Check Job Field Changes</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>CheckJobFieldChanges</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_Job_Updated_Or_Inserted</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__priorRecord</typeName>
            <typeValue>TR1__Job__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fieldSetName</name>
            <value>
                <elementReference>fieldSetName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>priorRecord</name>
            <value>
                <elementReference>$Record__Prior</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CheckJobFieldChanges</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_JobOrder_Update_variables</name>
        <label>Set JobOrder Update variables</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>EntityType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Set_EntityType_Updated</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EntityName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Set_EntityName_JobOrder</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Logic_Melon_Job_posting</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_JobSubmission_Insert_variables</name>
        <label>Set JobSubmission Insert variables</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>EntityType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Set_EntityType_Inserted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EntityName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Set_EntityName_JobSubmission</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Logic_Melon_Job_posting</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Sendout_Insert_variables</name>
        <label>Set Sendout Insert variables</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>EntityType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Set_EntityType_Inserted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EntityName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Set_EntityName_Sendout</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Logic_Melon_Job_posting</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Job_Updated_Or_Inserted</name>
        <label>Is Job Updated Or Inserted</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>JobOrder</name>
            <conditionLogic>1 AND 2 AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Total_Submitted_Application__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Send_out_V2__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Check_Job_Field_Changes.hasChanges</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_JobOrder_Update_variables</targetReference>
            </connector>
            <label>JobOrder</label>
        </rules>
        <rules>
            <name>JobSubmission</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Total_Submitted_Application__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Total_Submitted_Application__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_JobSubmission_Insert_variables</targetReference>
            </connector>
            <label>JobSubmission</label>
        </rules>
        <rules>
            <name>Sendout</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Send_out_V2__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Send_out_V2__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Sendout_Insert_variables</targetReference>
            </connector>
            <label>Sendout</label>
        </rules>
    </decisions>
    <description>Logic Melon Job posting flow - for sending notifications for &apos;jobOrder&apos; updates, &apos;jobSubmission&apos; inserts, &apos;SendOuts&apos; inserts.</description>
    <environments>Default</environments>
    <formulas>
        <name>Set_EntityName_JobOrder</name>
        <dataType>String</dataType>
        <expression> &quot;JobOrder&quot;</expression>
    </formulas>
    <formulas>
        <name>Set_EntityName_JobSubmission</name>
        <dataType>String</dataType>
        <expression>&quot;JobSubmission&quot;</expression>
    </formulas>
    <formulas>
        <name>Set_EntityName_Sendout</name>
        <dataType>String</dataType>
        <expression>&quot;Sendout&quot;</expression>
    </formulas>
    <formulas>
        <description>Set EntityType as INSERTED</description>
        <name>Set_EntityType_Inserted</name>
        <dataType>String</dataType>
        <expression>&quot;INSERTED&quot;</expression>
    </formulas>
    <formulas>
        <description>Set EntityType as UPDATED</description>
        <name>Set_EntityType_Updated</name>
        <dataType>String</dataType>
        <expression>&quot;UPDATED&quot;</expression>
    </formulas>
    <interviewLabel>Logic Melon Job posting flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Logic Melon Job posting flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Create Job Posting Platform event object</description>
        <name>Create_Job_Posting_Platform_event_object</name>
        <label>Create Job Posting Platform event object</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>Logic_Melon_Job_posting</inputReference>
    </recordCreates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Job_Field_Changes</targetReference>
        </connector>
        <filterFormula>AND(
   {!$Setup.Active_Trigger_Flow_VR__c.Job_Flow__c} = TRUE,
 TEXT({!$Record.User_Opco__c}) = &quot;US&quot;
)</filterFormula>
        <object>TR1__Job__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <transforms>
        <description>Logic Melon Job posting</description>
        <name>Logic_Melon_Job_posting</name>
        <label>Logic Melon Job posting</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Job_Posting_Platform_event_object</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <objectType>LogicMelon_Job_Posting_Event__e</objectType>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>JobId__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>EntityType__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>EntityType</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>EntityName__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>EntityName</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>ClientBillRate__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.Client_Bill_Rate__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>JobName__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.Name</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>JobSubmissionCount__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.Total_Submitted_Application__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>SendOutCount__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.Send_out_V2__c</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <description>EntityName</description>
        <name>EntityName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EntityType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>fieldSetName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Logic_Melon_Flow_Field_Set</stringValue>
        </value>
    </variables>
</Flow>
