force-app/main/default/flows/Logic_Melon_Job_Order.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_JobOrder_Insert_variables</name>
        <label>Set JobOrder Insert variables</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>EntityType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Set_EntityType_Inserted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EntityName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Set_EntityName_JobOrder</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Logic_Melon_Job_posting</targetReference>
        </connector>
    </assignments>
    <description>Flow will create platform event for inserted job order for LogicMelon to consume</description>
    <environments>Default</environments>
    <formulas>
        <name>Set_EntityName_JobOrder</name>
        <dataType>String</dataType>
        <expression> &quot;JobOrder&quot;</expression>
    </formulas>
    <formulas>
        <name>Set_EntityName_JobSubmission</name>
        <dataType>String</dataType>
        <expression>&quot;JobSubmission&quot;</expression>
    </formulas>
    <formulas>
        <name>Set_EntityName_Sendout</name>
        <dataType>String</dataType>
        <expression>&quot;Sendout&quot;</expression>
    </formulas>
    <formulas>
        <description>Set EntityType as INSERTED</description>
        <name>Set_EntityType_Inserted</name>
        <dataType>String</dataType>
        <expression>&quot;INSERTED&quot;</expression>
    </formulas>
    <formulas>
        <description>Set EntityType as UPDATED</description>
        <name>Set_EntityType_Updated</name>
        <dataType>String</dataType>
        <expression>&quot;UPDATED&quot;</expression>
    </formulas>
    <interviewLabel>Logic Melon Job Order {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Logic Melon Job Order</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Create Job Posting Platform event object</description>
        <name>Create_Job_Posting_Platform_event_object</name>
        <label>Create Job Posting Platform event object</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>Logic_Melon_Job_posting</inputReference>
    </recordCreates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_JobOrder_Insert_variables</targetReference>
        </connector>
        <filterFormula>AND(
   {!$Setup.Active_Trigger_Flow_VR__c.Job_Flow__c} = TRUE,
    TEXT({!$Record.User_Opco__c}) = &quot;US&quot;
)</filterFormula>
        <object>TR1__Job__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <transforms>
        <description>Logic Melon Job posting</description>
        <name>Logic_Melon_Job_posting</name>
        <label>Logic Melon Job posting</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Job_Posting_Platform_event_object</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <objectType>LogicMelon_Job_Posting_Event__e</objectType>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>JobId__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>EntityType__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>EntityType</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>EntityName__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>EntityName</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>ClientBillRate__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.Client_Bill_Rate__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>JobName__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.Name</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>SendOutCount__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.Send_out_V2__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>JobSubmissionCount__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.Total_Submitted_Application__c</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <description>EntityName</description>
        <name>EntityName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EntityType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
