force-app/main/default/flows/MandatoryFields.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Validate_Records_by_Record_Type_and_OpCo_Action_1</name>
        <label>Validate Records by Record Type and OpCo Action 1</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <actionName>MandatoryFieldValidatorByRecType</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Error_Fields</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__records</typeName>
            <typeValue>Contact</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectApiName</name>
            <value>
                <elementReference>ObjectApiName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>records</name>
            <value>
                <elementReference>CandidateRecords</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MandatoryFieldValidatorByRecType</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Collection</name>
        <label>Collection</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>CandidateRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Contact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_Records_by_Record_Type_and_OpCo_Action_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Error_Fields</name>
        <label>Error Fields</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>RecordFieldError</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Validate_Records_by_Record_Type_and_OpCo_Action_1.recordFieldErrors</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ER</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Flow_variable</name>
        <label>Flow variable</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Get_Contact.Candidate_funnel_stage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FutureStage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>populatereqfields</name>
        <label>populatereqfields</label>
        <locationX>270</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>RequiredFields</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ER.fieldName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ER</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>If_Mandatory_fields_exist</name>
        <label>If Mandatory fields exist</label>
        <locationX>182</locationX>
        <locationY>1082</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RequiredFields</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RequiredMandatoryFields</targetReference>
            </connector>
            <label>Exist</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>FutureStage</name>
        <dataType>String</dataType>
        <expression>CASE({!appStage},
    &quot;Application&quot;, &apos;New&apos;,
   &quot;Internal Interview&quot;, &apos;Interview&apos;,
&quot;Submittal&quot;, &apos;Presentation&apos;,
&quot;Send Out&quot;,&apos;Presentation&apos;,
&quot;Offer&quot;, &apos;Offer&apos;,
&quot;Client Offer&quot;, &apos;Offer&apos;,
&quot;Closing Report&quot;, &apos;Consultant&apos;,&apos;&apos;
   )</expression>
    </formulas>
    <interviewLabel>MandatoryFields {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MandatoryFields</label>
    <loops>
        <name>ER</name>
        <label>RequiredFields Loop</label>
        <locationX>182</locationX>
        <locationY>782</locationY>
        <collectionReference>RecordFieldError</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>populatereqfields</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>If_Mandatory_fields_exist</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Application</name>
        <label>Get Application</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>TR1__Application_V2__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Flow_variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Application.TR1__Applicant__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>RequiredMandatoryFields</name>
        <label>RequiredMandatoryFields</label>
        <locationX>50</locationX>
        <locationY>1190</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>RequiredFieldsscreen</name>
            <extensionName>c:atsRequiredFields</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Contact.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>unfilledMandatoryFields</name>
                <value>
                    <elementReference>RequiredFields</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Application</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>appStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CandidateRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>contacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>FutureCandidateStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ObjectApiName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Contact</stringValue>
        </value>
    </variables>
    <variables>
        <name>RecordFieldError</name>
        <apexClass>RecordFieldError</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RequiredField</name>
        <apexClass>ValidateFieldsResult</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RequiredFields</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
