force-app/main/default/flows/Mass_Record_Transfer.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>actionInitiateTransfer</name>
        <label>Initiate Transfer</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <actionName>MassRecordTransferController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>decisionJobStarted</targetReference>
        </connector>
        <faultConnector>
            <targetReference>screenTransferError</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>action</name>
            <value>
                <stringValue>INITIATE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fromUserId</name>
            <value>
                <elementReference>varFromUser.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toUserId</name>
            <value>
                <elementReference>varToUser.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MassRecordTransferController</nameSegment>
        <outputParameters>
            <assignToReference>varJobId</assignToReference>
            <name>jobId</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>actionValidateTransfer</name>
        <label>Validate Transfer</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <actionName>MassRecordTransferController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>decisionValidation</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>action</name>
            <value>
                <stringValue>VALIDATE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fromUserId</name>
            <value>
                <elementReference>varFromUser.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toUserId</name>
            <value>
                <elementReference>varToUser.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MassRecordTransferController</nameSegment>
        <outputParameters>
            <assignToReference>varIsValid</assignToReference>
            <name>isValid</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varErrorMessage</assignToReference>
            <name>message</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>decisionJobStarted</name>
        <label>Check Job Started</label>
        <locationX>182</locationX>
        <locationY>1000</locationY>
        <defaultConnector>
            <targetReference>screenTransferError</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Failed</defaultConnectorLabel>
        <rules>
            <name>Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varJobId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screenSuccess</targetReference>
            </connector>
            <label>Success</label>
        </rules>
    </decisions>
    <decisions>
        <name>decisionValidation</name>
        <label>Check Validation</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>screenValidationError</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Invalid</defaultConnectorLabel>
        <rules>
            <name>Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varIsValid</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screenConfirmTransfer</targetReference>
            </connector>
            <label>Valid</label>
        </rules>
    </decisions>
    <description>Mass transfer all records from one user to another user</description>
    <dynamicChoiceSets>
        <name>UserChoices</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Mass Record Transfer {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Mass Record Transfer</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getUser_From</name>
        <label>Get From User</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>screenSelectTargetUser</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>lookupFromUser</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>varFromUser</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>IsActive</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getUser_To</name>
        <label>Get To User</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>actionValidateTransfer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>lookupToUser</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>varToUser</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>IsActive</queriedFields>
    </recordLookups>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>screenConfirmTransfer</name>
        <label>Confirm Transfer</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>actionInitiateTransfer</targetReference>
        </connector>
        <fields>
            <name>displayConfirmation</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;⚠️ Confirm Record Transfer&lt;/b&gt;&lt;/p&gt;&lt;p&gt;FROM: {!varFromUser.Name}&lt;/p&gt;&lt;p&gt;TO: {!varToUser.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>displayNote</name>
            <fieldText>&lt;p&gt;📧 You will receive an email when the transfer is complete.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Start Transfer</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screenSelectSourceUser</name>
        <label>Select Source User</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>getUser_From</targetReference>
        </connector>
        <fields>
            <name>displayInstructions</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Mass Record Transfer&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Select the user whose records you want to transfer.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>lookupFromUser</name>
            <choiceReferences>UserChoices</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Source User (Current Owner)</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screenSelectTargetUser</name>
        <label>Select Target User</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>getUser_To</targetReference>
        </connector>
        <fields>
            <name>displaySourceSelected</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Transferring records FROM:&lt;/strong&gt; {!varFromUser.Name} ({!varFromUser.Email})&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>lookupToUser</name>
            <choiceReferences>UserChoices</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Target User (New Owner)</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>displayWarning</name>
            <fieldText>&lt;p&gt;⚠️ &lt;b style=&quot;color: rgb(194, 87, 0);&quot;&gt;Warning&lt;/b&gt;: This will transfer ALL records.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Validate Transfer</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screenSuccess</name>
        <label>Transfer Initiated</label>
        <locationX>50</locationX>
        <locationY>1108</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>displaySuccess</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px; color: rgb(11, 118, 11);&quot;&gt;✅ Transfer Initiated Successfully!&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Job ID: {!varJobId}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>displaySummary</name>
            <fieldText>&lt;p&gt;From: {!varFromUser.Name}&lt;/p&gt;&lt;p&gt;To: {!varToUser.Name}&lt;/p&gt;&lt;p&gt;Status: Processing&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screenTransferError</name>
        <label>Transfer Error</label>
        <locationX>314</locationX>
        <locationY>1108</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>displayTransferError</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px; color: rgb(194, 24, 7);&quot;&gt;❌ Transfer Failed&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screenValidationError</name>
        <label>Validation Error</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>displayValidationError</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 18px; color: rgb(194, 24, 7);&quot;&gt;❌ Validation Failed&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!varErrorMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>screenSelectSourceUser</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFromUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>varIsValid</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varJobId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varToUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
