force-app/main/default/flows/Means_Review_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>means_review</name>
        <label>means review</label>
        <locationX>665</locationX>
        <locationY>376</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Explicit_Skills_Definition__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Means_review_update</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Means Review Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Means Review Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Means_review_update</name>
        <label>Means review update</label>
        <locationX>716</locationX>
        <locationY>532</locationY>
        <inputAssignments>
            <field>Complete_Project_Resources__c</field>
            <value>
                <elementReference>MeansReviewVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comprehensive_Costing__c</field>
            <value>
                <elementReference>MeansReviewVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Schedule_Aligned_Team_Setup__c</field>
            <value>
                <elementReference>MeansReviewVar</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>534</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>means_review</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>MeansReviewVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Explicit_Skills_Definition__c</elementReference>
        </value>
    </variables>
</Flow>
