force-app/main/default/flows/Notify_ADP_when_engagement_placement_is_created.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SendEmailApex</name>
        <label>SendEmailApex</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>EmailsenderNotifyADP</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>closingReportIds</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>EmailsenderNotifyADP</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Opco_Region</name>
        <label>Opco Region</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>France_Opco</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TR1__Person_Placed__r.Responsible_Opco__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>France</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendEmailApex</targetReference>
            </connector>
            <label>France Opco</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Notify ADP when engagement/placement is created {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Notify ADP when engagement/placement is created</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Opco_Region</targetReference>
        </connector>
        <filterFormula>{!$Setup.Active_Trigger_Flow_VR__c.Placement_Flow__c} = TRUE</filterFormula>
        <object>TR1__Closing_Report__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Dear support colleague,
A new placement has been created. Please review and process in Tetris and/or Mpleo:

Collaborator name: {!$Record.TR1__Person_Placed__r.FirstName} {!$Record.TR1__Person_Placed__r.LastName}
Collaborator ID: {!$Record.TR1__Person_Placed__r.Id}
Collaborator business unit: {!$Record.TR1__Person_Placed__r.Unit__c}
Client name: {!$Record.TR1__Account__r.Name}
Client ID: {!$Record.TR1__Account__r.AUSY_Changepoint_ID__c}
Client billing office: {!$Record.TR1__Account__r.BillingStreet},{!$Record.TR1__Account__r.BillingCity},{!$Record.TR1__Account__r.BillingState},{!$Record.TR1__Account__r.BillingCountry},{!$Record.TR1__Account__r.BillingPostalCode}
Placement name: {!$Record.TR1__Job__r.Name}
Placement ID: {!$Record.Id}
Placement business unit: {!$Record.Business_unit__c}</text>
    </textTemplates>
    <textTemplates>
        <name>Subject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>New placement for {!$Record.TR1__Person_Placed__r.FirstName} {!$Record.TR1__Person_Placed__r.LastName} at client {!$Record.TR1__Account__r.Name} from {!$Record.TR1__Start_Date__c} to {!$Record.TR1__End_Date__c}</text>
    </textTemplates>
    <variables>
        <name>Emailid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>santosh.bhake@randstaddigital.com,bhuvana.narala@randstaddigital.com</stringValue>
        </value>
    </variables>
</Flow>
