force-app/main/default/flows/Offer_review_Risk_section_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Risk_Control_and_Framing</name>
        <label>Risk Control and Framing</label>
        <locationX>606</locationX>
        <locationY>380</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Risk_Control_and_Framing__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Offer_review_risk_section</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Offer review Risk section flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Offer review Risk section flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Offer_review_risk_section</name>
        <label>Update Offer review risk section</label>
        <locationX>610</locationX>
        <locationY>605</locationY>
        <inputAssignments>
            <field>Assumptions_and_Justifications__c</field>
            <value>
                <elementReference>RiskControlValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Costing_Charts_for_Sizing__c</field>
            <value>
                <elementReference>RiskControlValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Risk_Informed_Costing__c</field>
            <value>
                <elementReference>RiskControlValue</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>490</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Risk_Control_and_Framing</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>RiskControlValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Risk_Control_and_Framing__c</elementReference>
        </value>
    </variables>
</Flow>
