force-app/main/default/flows/Onboarder_Assignment_Details_on_Engagement.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_If_Contingent_Approval</name>
        <label>Send Email If Contingent Approval</label>
        <locationX>847</locationX>
        <locationY>485</locationY>
        <actionName>TR1__Closing_Report__c.Onboarding_Assignment_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>TR1__Closing_Report__c.Onboarding_Assignment_Alert</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_If_Yes</name>
        <label>Send Email If Yes</label>
        <locationX>375</locationX>
        <locationY>486</locationY>
        <actionName>TR1__Closing_Report__c.Onboarding_Assignment_Alert_2</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>TR1__Closing_Report__c.Onboarding_Assignment_Alert_2</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Talent_Onboarding_Email</name>
        <label>Send Talent Onboarding Email</label>
        <locationX>221</locationX>
        <locationY>174</locationY>
        <actionName>TR1__Closing_Report__c.Placement_Talent_Onboarder_Notification</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>TR1__Closing_Report__c.Placement_Talent_Onboarder_Notification</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Vendor_Onboarding_Email</name>
        <label>Send Vendor Onboarding Email</label>
        <locationX>1047</locationX>
        <locationY>188</locationY>
        <actionName>TR1__Closing_Report__c.Placement_Vendor_Onboarder_Notification</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>TR1__Closing_Report__c.Placement_Vendor_Onboarder_Notification</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_Cleared_to_Start_field</name>
        <label>Check Cleared to Start field</label>
        <locationX>579</locationX>
        <locationY>382</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Yes</name>
            <conditionLogic>((1 AND 2) OR (1 AND 3)) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Cleared_to_Start__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Cleared_to_Start__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.User_Opco__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>US</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_If_Yes</targetReference>
            </connector>
            <label>If &quot;Yes&quot;</label>
        </rules>
        <rules>
            <name>If_Contingent_Approval</name>
            <conditionLogic>((1 AND 2) OR (1 AND 3)) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Cleared_to_Start__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contingent Approval</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Cleared_to_Start__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.User_Opco__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>US</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_If_Contingent_Approval</targetReference>
            </connector>
            <label>If &quot;Contingent Approval&quot;</label>
        </rules>
        <rules>
            <name>If_Talent_Onboarder_is_Assigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Talent_Onboarder_Assigned__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.User_Opco__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>US</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Talent_Onboarder_Assigned__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Talent_Onboarding_Email</targetReference>
            </connector>
            <label>If Talent Onboarder is Assigned</label>
        </rules>
        <rules>
            <name>If_Vendor_Onboarder_is_Assigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.VendorOnboarder_Assigned__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.User_Opco__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>US</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.VendorOnboarder_Assigned__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Vendor_Onboarding_Email</targetReference>
            </connector>
            <label>If Vendor Onboarder is Assigned</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Onboarder Assignment Details {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Onboarder Assignment Details on Engagement</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>465</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Check_Cleared_to_Start_field</targetReference>
        </connector>
        <filterFormula>AND(
    {!$Setup.Active_Trigger_Flow_VR__c.Placement_Flow__c} = TRUE,
    {!$Record.RecordType.DeveloperName} &lt;&gt; &apos;Change_Request&apos;,
    {!$Record.RecordType.DeveloperName} &lt;&gt; &apos;Change_Request_Permanent&apos;
)</filterFormula>
        <object>TR1__Closing_Report__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
