force-app/main/default/flows/Opportunity_Approval_Process_Market.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Default</name>
        <label>Default</label>
        <locationX>1036</locationX>
        <locationY>646</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Opportunity_Approval_Process_Default</stringValue>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Submit_Approval</name>
        <label>Submit Approval</label>
        <locationX>50</locationX>
        <locationY>587</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <faultConnector>
            <targetReference>Add_error</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <elementReference>Get_Approval_Process.Approval_Process_Name__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Submit_Approval_for_identified</name>
        <label>Submit Approval for identified</label>
        <locationX>568</locationX>
        <locationY>640</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <faultConnector>
            <targetReference>Error_When_Stage_Approved</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <elementReference>Get_Approval_Process_for_identified.Approval_Process_Name__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customErrors>
        <name>Add_error</name>
        <label>Add error</label>
        <locationX>95</locationX>
        <locationY>855</locationY>
        <customErrorMessages>
            <errorMessage>{!$Flow.FaultMessage}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Error</name>
        <label>Error</label>
        <locationX>1037</locationX>
        <locationY>874</locationY>
        <customErrorMessages>
            <errorMessage>{!$Flow.FaultMessage}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Error_When_Stage_Approved</name>
        <label>Error When Stage Approved</label>
        <locationX>569</locationX>
        <locationY>860</locationY>
        <customErrorMessages>
            <errorMessage>{!$Flow.FaultMessage}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Opco_Approval_Process</name>
        <label>Opco Approval Process</label>
        <locationX>842</locationX>
        <locationY>371</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_opco_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Responsible_Opco__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approval</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Approval_Process</targetReference>
            </connector>
            <label>If opco not null</label>
        </rules>
        <rules>
            <name>Us_Opco_Identified_Stage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Responsible_Opco_New__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>US</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Opportunity Identified</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Approval_Process_for_identified</targetReference>
            </connector>
            <label>Us Opco Identified Stage</label>
        </rules>
        <rules>
            <name>Opportunity_Approval_Process_Default_run</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Opportunity Identified</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Default</targetReference>
            </connector>
            <label>Opportunity_Approval_Process_Default_run</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Opportunity Approval Process Market {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Approval Process Market</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Approval_Process</name>
        <label>Get Approval Process</label>
        <locationX>50</locationX>
        <locationY>479</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Submit_Approval</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opco__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Responsible_Opco__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opco_Public_Group__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Approval_Process_for_identified</name>
        <label>Get Approval Process for identified</label>
        <locationX>578</locationX>
        <locationY>479</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Submit_Approval_for_identified</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opco__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Responsible_Opco__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity Identified</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opco_Public_Group__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>716</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Opco_Approval_Process</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approval</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity Identified</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
