force-app/main/default/flows/Opportunity_Amount_value_update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>ChangeOppStage</name>
        <label>ChangeOppStage</label>
        <locationX>611</locationX>
        <locationY>500</locationY>
        <assignmentItems>
            <assignToReference>$Record.Opportunity_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>RFP</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>OppTypeandStage</name>
        <label>OppTypeandStage</label>
        <locationX>341</locationX>
        <locationY>498</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OpportunityNature</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opportunity_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RFI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ChangeOppStage</targetReference>
            </connector>
            <label>OpportunityNature</label>
        </rules>
    </decisions>
    <description>This flow is to update Opportunity Amount value with Total Contract Value</description>
    <environments>Default</environments>
    <interviewLabel>Opportunity Amount value update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Amount value update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>This is used to update the Opportunity Amount  field with Total Contract Value field.</description>
        <name>Update_Opportunity_Amount_Filed</name>
        <label>Update Opportunity Amount Filed</label>
        <locationX>354</locationX>
        <locationY>303</locationY>
        <connector>
            <targetReference>OppTypeandStage</targetReference>
        </connector>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>$Record.Total_Contract_Value__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>330</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Update_Opportunity_Amount_Filed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Torc_Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
