force-app/main/default/flows/Opportunity_Create_Job_Record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Redirect_to_New_Job</name>
        <label>Redirect to New Job</label>
        <locationX>786</locationX>
        <locationY>576</locationY>
        <actionName>c:NavigateToTheRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>flowRecordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:NavigateToTheRecord</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <name>Consulting</name>
        <choiceText>Service Request</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Consulting</elementReference>
        </value>
    </choices>
    <choices>
        <name>Contract</name>
        <choiceText>Contract</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Contract</stringValue>
        </value>
    </choices>
    <choices>
        <name>Permanent</name>
        <choiceText>Proactive hire</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>Permanent</elementReference>
        </value>
    </choices>
    <description>CH updated labels of job type to Proactive hire and Service request + updated status Job &quot;open for TM&quot; + removed Fee Percentage field + added Business unit + default value record type Consulting</description>
    <dynamicChoiceSets>
        <name>Businessunit</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Business_unit__c</picklistField>
        <picklistObject>TR1__Job__c</picklistObject>
        <sortOrder>Desc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ChapterJob</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Chapter_job__c</picklistField>
        <picklistObject>TR1__Job__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>JobRole</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Job_role__c</picklistField>
        <picklistObject>TR1__Job__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <description>Depending on Job Type chosen Assign the correct Id&apos;s</description>
        <name>AssignRecordtypeIds</name>
        <dataType>String</dataType>
        <expression>IF ({!Job_Type}=&quot;Consulting&quot;,&quot;0127S000000Tmi4QAC&quot;,&quot;0127S000000Tmi5QAC&quot;)</expression>
    </formulas>
    <formulas>
        <name>JobName</name>
        <dataType>String</dataType>
        <expression>{!Get_Opportunity.Account.Name} &amp; &quot; &quot; &amp; &quot;-&quot; &amp; &quot; &quot; &amp; {!Job_Name}</expression>
    </formulas>
    <interviewLabel>Opportunity - Create Job Record {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Opportunity - Create Job Record_With_redirection</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Job_Record</name>
        <label>Create Job Record</label>
        <locationX>776</locationX>
        <locationY>398</locationY>
        <assignRecordIdToReference>flowRecordId</assignRecordIdToReference>
        <connector>
            <targetReference>Redirect_to_New_Job</targetReference>
        </connector>
        <inputAssignments>
            <field>Business_unit__c</field>
            <value>
                <elementReference>Business_unit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Chapter_job__c</field>
            <value>
                <elementReference>DependentPicklist.topValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Job_role__c</field>
            <value>
                <elementReference>DependentPicklist.middleValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Job_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>AssignRecordtypeIds</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TR1__Account__c</field>
            <value>
                <elementReference>Get_Opportunity.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TR1__Contact__c</field>
            <value>
                <elementReference>Get_Opportunity.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TR1__Estimated_End_Date__c</field>
            <value>
                <elementReference>Estimated_End_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TR1__Estimated_Start_Date__c</field>
            <value>
                <elementReference>Estimated_Start_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TR1__Maximum_Bill_Rate__c</field>
            <value>
                <elementReference>Maximum_Bill_Rate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TR1__Maximum_Pay_Rate__c</field>
            <value>
                <elementReference>Maximum_Pay_Rate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TR1__Number_of_Openings__c</field>
            <value>
                <elementReference>Number_of_Openings</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TR1__Open_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TR1__Salary_High__c</field>
            <value>
                <elementReference>Salary_High</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TR1__Salary_Low__c</field>
            <value>
                <elementReference>Salary_Low</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TR1__Status__c</field>
            <value>
                <stringValue>Open for TM/Sales</stringValue>
            </value>
        </inputAssignments>
        <object>TR1__Job__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>776</locationX>
        <locationY>182</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Job</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Create_Job</name>
        <label>Create Job</label>
        <locationX>776</locationX>
        <locationY>290</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Job_Record</targetReference>
        </connector>
        <fields>
            <name>Job_Type</name>
            <choiceReferences>Permanent</choiceReferences>
            <choiceReferences>Consulting</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Consulting</defaultSelectedChoiceReference>
            <fieldText>Job Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Job_Name</name>
            <dataType>String</dataType>
            <fieldText>Job Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>External_Identifier</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Opportunity.External_Identifier__c</elementReference>
            </defaultValue>
            <fieldText>External Identifier</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Business_unit</name>
            <choiceReferences>Businessunit</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Business unit</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>DependentPicklist</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>TR1__Job__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>Chapter_job__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>Job_role__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleLabel</name>
                <value>
                    <stringValue>Job role</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topLabel</name>
                <value>
                    <stringValue>Chapter job</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Number_of_Openings</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>1.0</numberValue>
            </defaultValue>
            <fieldText>Number of Openings</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Salary_Low</name>
            <dataType>Currency</dataType>
            <fieldText>Salary Low</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Job_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Permanent</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Salary_High</name>
            <dataType>Currency</dataType>
            <fieldText>Salary High</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Job_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Permanent</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Maximum_Pay_Rate</name>
            <dataType>Number</dataType>
            <fieldText>Maximum Pay Rate</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Job_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Consulting</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Maximum_Bill_Rate</name>
            <dataType>Number</dataType>
            <fieldText>Maximum Bill Rate</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <validationRule>
                <errorMessage>&lt;p&gt;Bill Rate must be higher than Pay Rate&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Maximum_Bill_Rate}&gt;{!Maximum_Pay_Rate}</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Job_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Consulting</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Estimated_Start_Date</name>
            <dataType>Date</dataType>
            <fieldText>Estimated Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Estimated_End_Date</name>
            <dataType>Date</dataType>
            <fieldText>Estimated End Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Job_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Consulting</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Create Job</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>dp_Chapter_Job</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>dp_Job_Role</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>flowRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordsIdDisplay</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
