force-app/main/default/flows/ORC_Create_Requisition.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Notify UI Path of Record Creation</description>
        <name>Create_Queue_Notification_for_UI_Path</name>
        <label>Create Queue Notification for UI Path</label>
        <locationX>930</locationX>
        <locationY>2522</locationY>
        <actionName>UiPath__QueueNotificationService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Selected_Candidates</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>newRequisitionID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateName</name>
            <value>
                <stringValue>Create Record in Oracle</stringValue>
            </value>
        </inputParameters>
        <nameSegment>UiPath__QueueNotificationService</nameSegment>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Error</name>
        <label>Assign Error</label>
        <locationX>754</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>isContactError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopValidateCandidate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Collect Candidate IDs and Store them in the List</description>
        <name>Collect_Candidates</name>
        <label>Collect Candidates</label>
        <locationX>446</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>lstContactID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_Applications.TR1__Applicant__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Applications</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Collect Existing Contact IDs in the list</description>
        <name>Collect_Existing_Contact_ID</name>
        <label>Collect Existing Contact ID</label>
        <locationX>446</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>lstExistingContactID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_Requisitions.Candidate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Requisitions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Collect All Requisition IDs in a list of variables</description>
        <name>Collect_Requisition_ID</name>
        <label>Collect Requisition ID</label>
        <locationX>930</locationX>
        <locationY>2414</locationY>
        <assignmentItems>
            <assignToReference>lstRequisitionID</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>newRequisitionID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Queue_Notification_for_UI_Path</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Default_Values</name>
        <label>Populate Default Values</label>
        <locationX>666</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>defaultRequisition.Automatically_Fill_Requisition__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>defaultRequisition.Business_Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Job.Business_unit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>defaultRequisition.Candidate_Selection_Process__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CSP_RD</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>defaultRequisition.Client_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Job.End_Client__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>defaultRequisition.Job_Salesforce_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Job.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>defaultRequisition.External_Application_Flow__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Initial Application - RS_IP</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>defaultRequisition.Headcount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Budgeted</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>defaultRequisition.Hiring_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Job.TR1__Hiring_Manager__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>defaultRequisition.Job__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Job.Demand_Role__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>defaultRequisition.Legal_Employer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Randstad Digital Talent Center Pvt Ltd</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>defaultRequisition.Number_of_Openings__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>defaultRequisition.Organization__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Randstad India Private Limited</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>defaultRequisition.Primary_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConcatCityStateAndCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>defaultRequisition.Primary_Work_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Job.India_City__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>defaultRequisition.Recruiter__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Job.Responsible_Recruiter__r.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>defaultRequisition.Recruiting_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Core (Employee)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>defaultRequisition.Related_Job__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Job.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>defaultRequisition.Requisition_Title__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Job.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>defaultRequisition.Requisition_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Standard</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>defaultRequisition.Use__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Job</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>defaultRequisition.Worker_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Employee</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>defaultRequisition.Vacancy_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Expansion</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>defaultRequisition.Vertical__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Job.Vertical__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>defaultRequisition.Sub_Vertical__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Job.Sub_Vertical__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set the Error to False during initialization</description>
        <name>Set_Contact_Is_Error_False</name>
        <label>Set Contact Is Error False</label>
        <locationX>666</locationX>
        <locationY>1490</locationY>
        <assignmentItems>
            <assignToReference>isContactError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopValidateCandidate</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Do Candidate Exists that needs to sent to Oracle</description>
        <name>Candidate_List_Blank</name>
        <label>Candidate List Blank ?</label>
        <locationX>358</locationX>
        <locationY>1058</locationY>
        <defaultConnector>
            <targetReference>Populate_Default_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesCandidateExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>lstContactID</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Existing_Requisitions_Screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if First Name, Email &amp; Salary Exists</description>
        <name>Contact_Fields_Exist</name>
        <label>Contact Fields Exist</label>
        <locationX>886</locationX>
        <locationY>1706</locationY>
        <defaultConnector>
            <targetReference>loopValidateCandidate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Error</defaultConnectorLabel>
        <rules>
            <name>Is_Field_Blank</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>loopValidateCandidate.Email</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loopValidateCandidate.FirstName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loopValidateCandidate.Current_Salary__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loopValidateCandidate.Tentative_DOJ__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Error</targetReference>
            </connector>
            <label>Is Field Blank ?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Contact_Error</name>
        <label>Is Contact Error</label>
        <locationX>666</locationX>
        <locationY>2090</locationY>
        <defaultConnector>
            <targetReference>Selected_Candidates</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Error</defaultConnectorLabel>
        <rules>
            <name>Error</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isContactError</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Create_Requisition_Screen</targetReference>
            </connector>
            <label>Error ?</label>
        </rules>
    </decisions>
    <description>Create Requisition Record from Job and Placed Candidate. Invokes UI Path to dispatch the details to Oracle
Certain fields are not displayed and sent as is.</description>
    <environments>Default</environments>
    <formulas>
        <description>Concat City, State and Country</description>
        <name>ConcatCityStateAndCountry</name>
        <dataType>String</dataType>
        <expression>IF(
    AND(ISBLANK({!Job.India_City__c}), ISBLANK({!Job.India_State__c})),
    {!Job.India_Country__c},
    IF(
        ISBLANK({!Job.India_City__c}),
        {!Job.India_State__c} &amp; &quot;, &quot; &amp; {!Job.India_Country__c},
        IF(
            ISBLANK({!Job.India_State__c}),
            {!Job.India_City__c} &amp; &quot;, &quot; &amp; {!Job.India_Country__c},
            {!Job.India_City__c} &amp; &quot;, &quot; &amp; {!Job.India_State__c} &amp; &quot;, &quot; &amp; {!Job.India_Country__c}
        )
    )
)</expression>
    </formulas>
    <interviewLabel>ORC Create Requisition {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Requisition</label>
    <loops>
        <description>Iterate over the application records and collect Candidate Ids</description>
        <name>Iterate_Applications</name>
        <label>Iterate Applications</label>
        <locationX>358</locationX>
        <locationY>758</locationY>
        <collectionReference>Get_Job_Applications</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Collect_Candidates</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Candidate_List_Blank</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Iterate over the existing Requisitions</description>
        <name>Iterate_Requisitions</name>
        <label>Iterate Requisitions</label>
        <locationX>358</locationX>
        <locationY>350</locationY>
        <collectionReference>Get_Requisitions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Collect_Existing_Contact_ID</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Job_Applications</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loop Over selected candidate</description>
        <name>loopValidateCandidate</name>
        <label>loopValidateCandidate</label>
        <locationX>666</locationX>
        <locationY>1598</locationY>
        <collectionReference>lstDataTable.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Contact_Fields_Exist</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Is_Contact_Error</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Selected_Candidates</name>
        <label>Selected Candidates</label>
        <locationX>842</locationX>
        <locationY>2198</locationY>
        <collectionReference>lstDataTable.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Requisition</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Inserted_Requisitions</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Requisition</name>
        <label>Create Requisition</label>
        <locationX>930</locationX>
        <locationY>2306</locationY>
        <assignRecordIdToReference>newRequisitionID</assignRecordIdToReference>
        <connector>
            <targetReference>Collect_Requisition_ID</targetReference>
        </connector>
        <inputAssignments>
            <field>Automatically_Fill_Requisition__c</field>
            <value>
                <elementReference>defaultRequisition.Automatically_Fill_Requisition__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_Unit__c</field>
            <value>
                <elementReference>defaultRequisition.Business_Unit__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Candidate_Selection_Process__c</field>
            <value>
                <elementReference>defaultRequisition.Candidate_Selection_Process__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Candidate__c</field>
            <value>
                <elementReference>Selected_Candidates.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client_Name__c</field>
            <value>
                <elementReference>defaultRequisition.Client_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Salary__c</field>
            <value>
                <elementReference>Selected_Candidates.Current_Salary__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email_ID__c</field>
            <value>
                <elementReference>Selected_Candidates.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>External_Application_Flow__c</field>
            <value>
                <elementReference>defaultRequisition.External_Application_Flow__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Name__c</field>
            <value>
                <elementReference>Selected_Candidates.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Headcount__c</field>
            <value>
                <elementReference>defaultRequisition.Headcount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hiring_Manager__c</field>
            <value>
                <elementReference>defaultRequisition.Hiring_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Job_Salesforce_ID__c</field>
            <value>
                <elementReference>defaultRequisition.Job_Salesforce_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Job__c</field>
            <value>
                <elementReference>defaultRequisition.Job__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Name__c</field>
            <value>
                <elementReference>Selected_Candidates.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Legal_Employer__c</field>
            <value>
                <elementReference>defaultRequisition.Legal_Employer__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Middle_Name__c</field>
            <value>
                <elementReference>Selected_Candidates.TR1__Middle_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Openings__c</field>
            <value>
                <elementReference>defaultRequisition.Number_of_Openings__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Organization__c</field>
            <value>
                <elementReference>defaultRequisition.Organization__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Location__c</field>
            <value>
                <elementReference>defaultRequisition.Primary_Location__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Work_Location__c</field>
            <value>
                <elementReference>defaultRequisition.Primary_Work_Location__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recruiter__c</field>
            <value>
                <elementReference>defaultRequisition.Recruiter__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recruiting_Type__c</field>
            <value>
                <elementReference>defaultRequisition.Recruiting_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Job__c</field>
            <value>
                <elementReference>Job.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requisition_Title__c</field>
            <value>
                <elementReference>defaultRequisition.Requisition_Title__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requisition_Type__c</field>
            <value>
                <elementReference>defaultRequisition.Requisition_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SalesForce_ID__c</field>
            <value>
                <elementReference>Selected_Candidates.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Vertical__c</field>
            <value>
                <elementReference>defaultRequisition.Sub_Vertical__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tentative_DOJ__c</field>
            <value>
                <elementReference>Selected_Candidates.Tentative_DOJ__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Use__c</field>
            <value>
                <elementReference>defaultRequisition.Use__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vertical__c</field>
            <value>
                <elementReference>defaultRequisition.Vertical__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Worker_Type__c</field>
            <value>
                <elementReference>defaultRequisition.Worker_Type__c</elementReference>
            </value>
        </inputAssignments>
        <object>ORC_Requisition__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Contacts</name>
        <label>Get Contacts</label>
        <locationX>666</locationX>
        <locationY>1274</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Requisition_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>lstContactID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <sortField>FirstName</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Job Applications where</description>
        <name>Get_Job_Applications</name>
        <label>Get Job Applications</label>
        <locationX>358</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Applications</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND (3 OR 4) AND 5</filterLogic>
        <filters>
            <field>TR1__Job__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Job.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>TR1__Applicant__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>TR1__Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Offer</stringValue>
            </value>
        </filters>
        <filters>
            <field>TR1__Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closing Report</stringValue>
            </value>
        </filters>
        <filters>
            <field>TR1__Applicant__c</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>lstExistingContactID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>TR1__Application_V2__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Requisitions Related to the Job</description>
        <name>Get_Requisitions</name>
        <label>Get Requisitions</label>
        <locationX>358</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Requisitions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Related_Job__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Job.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ORC_Requisition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the Inserted Requisitions</description>
        <name>Inserted_Requisitions</name>
        <label>Inserted Requisitions</label>
        <locationX>842</locationX>
        <locationY>2714</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Display_Requisitions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>lstRequisitionID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ORC_Requisition__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Details for the Current Selected Job ID</description>
        <name>Job</name>
        <label>Job</label>
        <locationX>358</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Requisitions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>TR1__Job__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>Create_Requisition_Screen</name>
        <label>Create Requisition</label>
        <locationX>666</locationX>
        <locationY>1382</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Contact_Is_Error_False</targetReference>
        </connector>
        <fields>
            <name>lblInstructions</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;﻿&lt;/strong&gt;Select placed candidates on the job &lt;strong&gt;{!Job.Name} &lt;/strong&gt;to generate offer letters.&lt;/p&gt;&lt;p&gt;&lt;em&gt;First Name, Last Name, Email, Current Salary, Tentative DOJ are required&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>lstDataTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Contact</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>👤 Placed Candidates</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Contacts</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>10.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;FirstName&quot;,&quot;guid&quot;:&quot;column-97a9&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;First Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;TR1__Middle_Name__c&quot;,&quot;guid&quot;:&quot;column-79e6&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Middle Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;LastName&quot;,&quot;guid&quot;:&quot;column-b40d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Last Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Email&quot;,&quot;guid&quot;:&quot;column-817e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Email&quot;,&quot;type&quot;:&quot;email&quot;},{&quot;apiName&quot;:&quot;Current_Salary__c&quot;,&quot;guid&quot;:&quot;column-14d5&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Current Salary&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;Tentative_DOJ__c&quot;,&quot;guid&quot;:&quot;column-132c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Tentative DOJ&quot;,&quot;type&quot;:&quot;date-local&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>lblContactError</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(204, 0, 0);&quot;&gt;First Name, Last Name, Email, Salary, Tentative DOJ are required for all selected candidates.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>isContactError</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Job_Details</name>
            <fieldText>&lt;p&gt;&lt;em&gt;All fields are required. Change the values on Job if this is not accurate or unavailable.&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Job_Section</name>
            <fieldText>🔧 Job Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Job_Section_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>lblClientName</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>defaultRequisition.Client_Name__c</elementReference>
                    </defaultValue>
                    <fieldText>Client Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Job.End Client Name&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>lblHiringManager</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>defaultRequisition.Hiring_Manager__c</elementReference>
                    </defaultValue>
                    <fieldText>Hiring Manager</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Job.Hiring Manager Email&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>lblPrimary_Work_Location</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>defaultRequisition.Primary_Work_Location__c</elementReference>
                    </defaultValue>
                    <fieldText>Primary Work Location</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Job.Billing City&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>lblBusiness_Unit</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>defaultRequisition.Business_Unit__c</elementReference>
                    </defaultValue>
                    <fieldText>Business Unit</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Job.Business Unit&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>lblSub_Vertical</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>defaultRequisition.Sub_Vertical__c</elementReference>
                    </defaultValue>
                    <fieldText>Sub Vertical</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Job.Sub Vertical&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Job_Section_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>lblJob</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>defaultRequisition.Job__c</elementReference>
                    </defaultValue>
                    <fieldText>Job</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Job.Demand Role&lt;/span&gt;&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>lblRecruiter</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>defaultRequisition.Recruiter__c</elementReference>
                    </defaultValue>
                    <fieldText>Recruiter</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Job.Responsible Recruiter Email&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>lblPrimary_Location</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>defaultRequisition.Primary_Location__c</elementReference>
                    </defaultValue>
                    <fieldText>Primary Location</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Job.Billing City, Job.Billing State &amp;amp; Job.Billing Country&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>lblVertical</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>defaultRequisition.Vertical__c</elementReference>
                    </defaultValue>
                    <fieldText>Vertical</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Job.Vertical&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Default_Value</name>
            <fieldText>&lt;p&gt;Default Values for System fields. Normally should be used as is.  &lt;/p&gt;&lt;p&gt;&lt;em&gt;Please confirm with the manager if you wish to change the defaults&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>isDisplayDefault</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Default_Values</name>
            <fieldText>📋 Default Values - Recommended</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Default_Values_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>defaultRequisition.Automatically_Fill_Requisition__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>defaultRequisition.Headcount__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>defaultRequisition.Organization__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>defaultRequisition.Use__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Default_Values_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>defaultRequisition.Candidate_Selection_Process__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>defaultRequisition.Legal_Employer__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>defaultRequisition.Recruiting_Type__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>defaultRequisition.Vacancy_Type__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Default_Values_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>defaultRequisition.External_Application_Flow__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>defaultRequisition.Number_of_Openings__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>defaultRequisition.Requisition_Type__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>defaultRequisition.Worker_Type__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>isDisplayDefault</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <helpText>&lt;p&gt;&lt;span style=&quot;color: rgb(33, 28, 176);&quot;&gt;Create a requisition record, which is pushed to Oracle for offer generation.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(33, 28, 176);&quot;&gt;To prevent duplicate offers being generated for the same candidate, the system checks if the candidate has been attached to the requisition record before.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;em style=&quot;color: rgb(40, 28, 157);&quot;&gt;To regenerate an offer for the same candidate on the job, please delete the previous requisition record&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</helpText>
        <nextOrFinishButtonLabel>Create</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Display_Requisitions</name>
        <label>Display Requisitions</label>
        <locationX>842</locationX>
        <locationY>2822</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>lblRequisitionMessage</name>
            <fieldText>&lt;p&gt;✅  Requisitions were successfully created.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Requisitions</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>ORC_Requisition__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>📋 Created Requisitions</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Inserted_Requisitions</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-d8fb&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;First_Name__c&quot;,&quot;guid&quot;:&quot;column-9cad&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;First Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Last_Name__c&quot;,&quot;guid&quot;:&quot;column-a793&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Last Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Email_ID__c&quot;,&quot;guid&quot;:&quot;column-4723&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Email ID&quot;,&quot;type&quot;:&quot;email&quot;},{&quot;apiName&quot;:&quot;Current_Salary__c&quot;,&quot;guid&quot;:&quot;column-3c3b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Current Salary&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;Tentative_DOJ__c&quot;,&quot;guid&quot;:&quot;column-3201&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Tentative DOJ&quot;,&quot;type&quot;:&quot;date-local&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Display Existing Requisitions</description>
        <name>Existing_Requisitions_Screen</name>
        <label>Existing Requisitions</label>
        <locationX>50</locationX>
        <locationY>1166</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>lblError</name>
            <fieldText>&lt;p&gt;⚠️ &lt;span style=&quot;color: rgb(204, 0, 0);&quot;&gt;No candidate record available for creating a new requisition.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Existing_Requisitions_tbl</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>ORC_Requisition__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Existing Requisitions for Job</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Requisitions</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-90ac&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;First_Name__c&quot;,&quot;guid&quot;:&quot;column-6d02&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;First Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Middle_Name__c&quot;,&quot;guid&quot;:&quot;column-5b7e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Middle Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Last_Name__c&quot;,&quot;guid&quot;:&quot;column-602d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Last Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Email_ID__c&quot;,&quot;guid&quot;:&quot;column-bb9a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Email ID&quot;,&quot;type&quot;:&quot;email&quot;},{&quot;apiName&quot;:&quot;Current_Salary__c&quot;,&quot;guid&quot;:&quot;column-a89b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Current Salary&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;Tentative_DOJ__c&quot;,&quot;guid&quot;:&quot;column-3fcc&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:6,&quot;label&quot;:&quot;Tentative DOJ&quot;,&quot;type&quot;:&quot;date-local&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <helpText>&lt;p&gt;Existing Requisitions that are associated with the job&lt;/p&gt;</helpText>
        <nextOrFinishButtonLabel>Cancel</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>232</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Job</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Default Requisition Record</description>
        <name>defaultRequisition</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ORC_Requisition__c</objectType>
    </variables>
    <variables>
        <description>Validate All Contacts have First Name, Last Name, Email and Current Salary</description>
        <name>isContactError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Should the default values be displayed</description>
        <name>isDisplayDefault</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>lstContactID</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>List of Existing Contact ID attached to the Requisition</description>
        <name>lstExistingContactID</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the newly created requisitions</description>
        <name>lstNewRequisitionCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ORC_Requisition__c</objectType>
    </variables>
    <variables>
        <description>Store the newly Requisition IDs</description>
        <name>lstRequisitionID</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newRequisitionID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Record ID which will be passed In</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Requisition Template</description>
        <name>requisition</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ORC_Requisition__c</objectType>
    </variables>
</Flow>
