force-app/main/default/flows/Parent_Account_Check.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Is_Local_or_Market</name>
        <label>Is Local or Market?</label>
        <locationX>380</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Market Account Not Found</defaultConnectorLabel>
        <rules>
            <name>Is_Local_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Market_Account.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Global_Account</targetReference>
            </connector>
            <label>Is Local Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Market_Account_a_Local</name>
        <label>Is Market Account a Local?</label>
        <locationX>611</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>No Parent (Global Account)</defaultConnectorLabel>
        <rules>
            <name>Has_Parent_Market_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Market_Account</targetReference>
            </connector>
            <label>Has Parent (Market Account)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_We_Update_Contact</name>
        <label>Should We Update Contact?</label>
        <locationX>182</locationX>
        <locationY>863</locationY>
        <defaultConnectorLabel>Skip Update</defaultConnectorLabel>
        <rules>
            <name>Valid_IDs_Found</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Market_Account.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Global_Account.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact</targetReference>
            </connector>
            <label>Valid IDs Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Parent Account Check {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Parent Account Check</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>611</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Market_Account_a_Local</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Global_Account</name>
        <label>Get Global Account</label>
        <locationX>182</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Should_We_Update_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Market_Account.ParentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Market_Account</name>
        <label>Get Market Account</label>
        <locationX>380</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Local_or_Market</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.ParentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>50</locationX>
        <locationY>971</locationY>
        <inputAssignments>
            <field>Global_Account__c</field>
            <value>
                <elementReference>Get_Global_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Market_Account__c</field>
            <value>
                <elementReference>Get_Market_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>485</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <filterFormula>AND(
    NOT(ISBLANK({!$Record.AccountId})),
    {!$Setup.Active_Trigger_Flow_VR__c.Contact_Flow__c} = TRUE
)</filterFormula>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
