force-app/main/default/flows/SCR_Create_Screening_Event.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Event_Details</name>
        <label>Assign Event Details</label>
        <locationX>176</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>sObjectEvent.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Candidate_Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjectEvent.Location</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Location</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjectEvent.Interview_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Interview_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjectEvent.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjectEvent.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjectEvent.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Candidate_Contact.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjectEvent.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Related_to</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjectEvent.StartDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Start_Date_Time_custom</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjectEvent.EndDateTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>End_Date_Time_custom</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Screening_Event</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Pre_Assign_Values_Event_Details</name>
        <label>Pre Assign Values Event Details</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>sObjectEvent.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Record_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjectEvent.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DescriptionText</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Event_Detail_Fields</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>First_Interview</name>
        <choiceText>First Interview</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>First Interview</stringValue>
        </value>
    </choices>
    <choices>
        <name>Offices</name>
        <choiceText>Offices</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Offices</stringValue>
        </value>
    </choices>
    <choices>
        <name>Online</name>
        <choiceText>Online</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Online</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Operational_Call</name>
        <label>Operational Call</label>
        <locationX>176</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Create_Candidate_Attendee_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sObjectEvent.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Operational Call</stringValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ApplicationsChoice</name>
        <collectionReference>get_Contact_Applications</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>TR1__Application_V2__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>InterviewTypePicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Interview_Type__c</picklistField>
        <picklistObject>Event</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RecordTypeNameCollection</name>
        <collectionReference>Get_Event_Record_Types</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>RecordType</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>AttendeesCall</name>
        <dataType>String</dataType>
        <expression>&apos;$User.FirstName $User.LastName&apos;</expression>
    </formulas>
    <formulas>
        <name>AttendeesnonCall</name>
        <dataType>String</dataType>
        <expression>&apos;Get_Candidate_Contact.Name , $User.FirstName $User.LastName&apos;</expression>
    </formulas>
    <formulas>
        <name>DescriptionText</name>
        <dataType>String</dataType>
        <expression>IF( {!sObjectEvent.RecordType.DeveloperName} = &apos;Operational_Call&apos; || {!sObjectEvent.RecordType.DeveloperName} = &apos;Salary_Proposal&apos;  , &quot; &quot;, {!Get_Candidate_Contact.Google_Meet_URL__c})</expression>
    </formulas>
    <formulas>
        <name>NowDateTime</name>
        <dataType>DateTime</dataType>
        <expression>IF({!Record_Type} = &apos;Operational Call&apos;, NOW(), {!sObjectEvent.StartDateTime} )</expression>
    </formulas>
    <interviewLabel>SCR Create Screening Event {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SCR Create Screening Event</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Candidate_Attendee_Record</name>
        <label>Create Candidate Attendee Record</label>
        <locationX>308</locationX>
        <locationY>1106</locationY>
        <inputAssignments>
            <field>EventId</field>
            <value>
                <elementReference>sObjectEvent.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelationId</field>
            <value>
                <elementReference>Get_Candidate_Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>EventRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Screening_Event</name>
        <label>Create Screening Event</label>
        <locationX>176</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Operational_Call</targetReference>
        </connector>
        <inputReference>sObjectEvent</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Candidate_Contact</name>
        <label>Get Candidate Contact</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Event_Record_Types</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Contact_Applications</name>
        <label>get Contact Applications</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Record_Type_Selection_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TR1__Applicant__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Candidate_Contact.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>TR1__Stage__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closing Report</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>TR1__Application_V2__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Event_Record_Types</name>
        <label>Get Event Record Types</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Contact_Applications</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Event</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>External_Interview</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Internal_Interview</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Power_Notes_Event</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Event_Detail_Fields</name>
        <label>Event Detail Fields</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Event_Details</targetReference>
        </connector>
        <fields>
            <name>Subject</name>
            <dataType>String</dataType>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Related_to</name>
            <choiceReferences>ApplicationsChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Related to</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Start_Date_Time_custom</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>NowDateTime</elementReference>
            </defaultValue>
            <fieldText>Start Date Time</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>End_Date_Time_custom</name>
            <dataType>DateTime</dataType>
            <fieldText>End Date Time</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Location</name>
            <choiceReferences>Online</choiceReferences>
            <choiceReferences>Offices</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Location</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>sObjectEvent.Description</objectFieldReference>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>sObjectEvent.Meeting_Notes__c</objectFieldReference>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Interview_Type</name>
            <choiceReferences>InterviewTypePicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Interview Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>sObjectEvent.RecordType.Name</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Interview</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Record_Type_Selection_Screen</name>
        <label>Record Type Selection Screen</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Pre_Assign_Values_Event_Details</targetReference>
        </connector>
        <fields>
            <name>Record_Type</name>
            <choiceReferences>RecordTypeNameCollection</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Record Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Candidate_Contact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>sObjectEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Event</objectType>
    </variables>
</Flow>
