force-app/main/default/flows/Textkernel_Update_Segregation_Roles.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Role_Selected</name>
        <label>Role Selected</label>
        <locationX>314</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Role</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TK_Segregation_Roles__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Segregation_Role</targetReference>
            </connector>
            <label>New Role</label>
        </rules>
        <rules>
            <name>Remove_Role</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TK_Segregation_Roles__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Segregation_Role</targetReference>
            </connector>
            <label>Remove Role</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Textkernel Update Segration Roles {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Textkernel Update Segregation Roles</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Delete_Segregation_Role</name>
        <label>Delete Segregation Role</label>
        <locationX>314</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>TK_Segregation_Roles__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Segregation_Role</name>
        <label>Update Segregation Role</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>TK_Segregation_Roles__c</field>
            <value>
                <elementReference>$Record.TK_Segregation_Roles__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Role_Selected</targetReference>
        </connector>
        <filterFormula>{!$Setup.Active_Trigger_Flow_VR__c.Contact_Flow__c} = TRUE</filterFormula>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
