force-app/main/default/flows/Textkernel.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>BypassTrigger</name>
        <label>BypassTrigger</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <actionName>TriggerControlFlowHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Convert_Imported_Candidate</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowLabels</name>
            <value>
                <stringValue>TextkernelConvertedCandidates</stringValue>
            </value>
        </inputParameters>
        <nameSegment>TriggerControlFlowHelper</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Convert_Imported_Candidate</name>
        <label>Convert Imported Candidate</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <actionName>Textkernel1__ImportedCandidateConvert</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Textkernel1__ImportedCandidateConvert</nameSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>Textkernel Convert Imported Candidate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Textkernel -Convert Imported Candidate (NEW)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>BypassTrigger</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Textkernel1__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Parsed</stringValue>
            </value>
        </filters>
        <object>Textkernel1__ImportedCandidate__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
