force-app/main/default/flows/Textkernel_Jobfeed_Job_Match.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Bypass_Trigger</name>
        <label>Bypass Trigger</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <actionName>TriggerControlFlowHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Job</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowLabels</name>
            <value>
                <stringValue>TextkernelConvertedJobs</stringValue>
            </value>
        </inputParameters>
        <nameSegment>TriggerControlFlowHelper</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <formulas>
        <name>Jobtitile</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Record.Textkernel1__JobTitle__c}, 80)</expression>
    </formulas>
    <interviewLabel>Textkernel Jobfeed Job {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Textkernel Jobfeed Job Match - Without Mandatory Fields</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Job</name>
        <label>Create Job</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Billing_Entity__c</field>
            <value>
                <stringValue>RSD SAS France</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Index_to_Textkernel__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Job_Type__c</field>
            <value>
                <stringValue>GDC Staffing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Jobtitile</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TK_Source__c</field>
            <value>
                <elementReference>$Record.Textkernel1__SourceType__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TR1__Account__c</field>
            <value>
                <stringValue>0017S00000IxqXOQAZ</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TR1__Client_Job_Description__c</field>
            <value>
                <elementReference>$Record.Textkernel1__JobDescription__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TR1__Contact__c</field>
            <value>
                <stringValue>0039X00000TgsE2QAJ</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TR1__Estimated_Start_Date__c</field>
            <value>
                <elementReference>$Record.Textkernel1__Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TR1__Hiring_Manager__c</field>
            <value>
                <stringValue>0039X00000TgsE2QAJ</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TR1__Status__c</field>
            <value>
                <stringValue>Accepting Candidates</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User_Opco__c</field>
            <value>
                <elementReference>$User.Opco__c</elementReference>
            </value>
        </inputAssignments>
        <object>TR1__Job__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Bypass_Trigger</targetReference>
        </connector>
        <object>Textkernel1__JobfeedJob__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
