force-app/main/default/flows/Textkernel_Copy_Parsed_Skills_to_Converted_Candidate_v2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Insert_skills_and_handle_duplicates</name>
        <label>Insert skills and handle duplicates</label>
        <locationX>1738</locationX>
        <locationY>1308</locationY>
        <actionName>InsertSkills</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>extractedSkills</name>
            <value>
                <elementReference>ATSExtractedSkillList</elementReference>
            </value>
        </inputParameters>
        <nameSegment>InsertSkills</nameSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_ATS_Skills_To_Lists</name>
        <label>Add ATS Skills To Lists</label>
        <locationX>2354</locationX>
        <locationY>1116</locationY>
        <assignmentItems>
            <assignToReference>ATSExtractedSkillList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ATSExtractedSkill</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_over_Extracted_Skills</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_IT_Skill</name>
        <label>Assign IT Skill</label>
        <locationX>1826</locationX>
        <locationY>816</locationY>
        <assignmentItems>
            <assignToReference>ATSExtractedSkill.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>IT_skill</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Other_Extracted_Fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Language_Skill</name>
        <label>Assign Language Skill</label>
        <locationX>2618</locationX>
        <locationY>816</locationY>
        <assignmentItems>
            <assignToReference>ATSExtractedSkill.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Language_skill</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Other_Extracted_Fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Other_Extracted_Fields</name>
        <label>Assign Other Extracted Fields</label>
        <locationX>2354</locationX>
        <locationY>1008</locationY>
        <assignmentItems>
            <assignToReference>ATSExtractedSkill.Contact_Candidate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Converted_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ATSExtractedSkill.Extracted_Skill__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_over_Extracted_Skills.Textkernel1__ExtractedSkill__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_ATS_Skills_To_Lists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Professional_Skill</name>
        <label>Assign Professional Skill</label>
        <locationX>2090</locationX>
        <locationY>816</locationY>
        <assignmentItems>
            <assignToReference>ATSExtractedSkill.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Professional_skill</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Other_Extracted_Fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Soft_Skill</name>
        <label>Assign Soft Skill</label>
        <locationX>2354</locationX>
        <locationY>816</locationY>
        <assignmentItems>
            <assignToReference>ATSExtractedSkill.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Soft_skill</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Other_Extracted_Fields</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_empty_list</name>
        <label>Check for empty list</label>
        <locationX>1034</locationX>
        <locationY>492</locationY>
        <defaultConnector>
            <targetReference>Iterate_over_Extracted_Skills</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Child_Extracted_Skills</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Is Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Determine_Skill_Category</name>
        <label>Determine Skill Category</label>
        <locationX>2354</locationX>
        <locationY>708</locationY>
        <defaultConnector>
            <targetReference>Assign_Other_Extracted_Fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IT_Skill</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_over_Extracted_Skills.Textkernel1__ExtractedSkillCategory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IT skill</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_IT_Skill</targetReference>
            </connector>
            <label>IT Skill</label>
        </rules>
        <rules>
            <name>Professional_Skill</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_over_Extracted_Skills.Textkernel1__ExtractedSkillCategory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Professional skill</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Professional_Skill</targetReference>
            </connector>
            <label>Professional Skill</label>
        </rules>
        <rules>
            <name>Soft_Skill</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_over_Extracted_Skills.Textkernel1__ExtractedSkillCategory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Soft skill</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Soft_Skill</targetReference>
            </connector>
            <label>Soft Skill</label>
        </rules>
        <rules>
            <name>Language_Skill</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_over_Extracted_Skills.Textkernel1__ExtractedSkillCategory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Language skill</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Language_Skill</targetReference>
            </connector>
            <label>Language Skill</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_it_a_duplicate_situation</name>
        <label>Is it a duplicate situation?</label>
        <locationX>550</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>Get_Child_Extracted_Skills</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Duplicate_error_handling</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Textkernel1__ErrorMessage__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Duplicate records have been detected</stringValue>
                </rightValue>
            </conditions>
            <label>Duplicate error handling</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Textkernel - Copy Parsed Skills to Converted Candidate v2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Textkernel - Copy Parsed Skills to Converted Candidate v2</label>
    <loops>
        <name>Iterate_over_Extracted_Skills</name>
        <label>Iterate over Extracted Skills</label>
        <locationX>1738</locationX>
        <locationY>600</locationY>
        <collectionReference>Get_Child_Extracted_Skills</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Determine_Skill_Category</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insert_skills_and_handle_duplicates</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Child_Extracted_Skills</name>
        <label>Get Child Extracted Skills</label>
        <locationX>1034</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_empty_list</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Textkernel1__Candidate__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Textkernel1__ExtractedCandidateSkill__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Textkernel1__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Converted</stringValue>
            </value>
        </filters>
        <filters>
            <field>Converted_Contact__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Textkernel1__ImportedCandidate__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Is_it_a_duplicate_situation</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>ATSExtractedSkill</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ATSExtractedCandidateSkill__c</objectType>
    </variables>
    <variables>
        <name>ATSExtractedSkillList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ATSExtractedCandidateSkill__c</objectType>
    </variables>
</Flow>
