force-app/main/default/flows/Textkernel_Copy_Parsed_Skills_to_Converted_Candidate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Insert_skills_and_handle_duplicates</name>
        <label>Insert skills and handle duplicates</label>
        <locationX>1364</locationX>
        <locationY>1200</locationY>
        <actionName>InsertSkills</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>extractedSkills</name>
            <value>
                <elementReference>ATSExtractedMasterSkillList</elementReference>
            </value>
        </inputParameters>
        <nameSegment>InsertSkills</nameSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_ATS_Skills_To_Lists</name>
        <label>Add ATS Skills To Lists</label>
        <locationX>1980</locationX>
        <locationY>1008</locationY>
        <assignmentItems>
            <assignToReference>ATSExtractedMasterSkillList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ATSExtractedMasterSkill</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_over_Extracted_Skills</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_IT_Skill</name>
        <label>Assign IT Skill</label>
        <locationX>1452</locationX>
        <locationY>708</locationY>
        <assignmentItems>
            <assignToReference>ATSExtractedMasterSkill.TR1__Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>IT_Skill</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Other_Extracted_Fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Language_Skill</name>
        <label>Assign Language Skill</label>
        <locationX>2244</locationX>
        <locationY>708</locationY>
        <assignmentItems>
            <assignToReference>ATSExtractedMasterSkill.TR1__Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Language_Skill</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Other_Extracted_Fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>{!ATSExtractedMasterSkill.TR1__Skill_Code__c}
ATSExtractedSkill.TR1__Master_Skill_Name__c</description>
        <name>Assign_Other_Extracted_Fields</name>
        <label>Assign Other Extracted Fields</label>
        <locationX>1980</locationX>
        <locationY>900</locationY>
        <assignmentItems>
            <assignToReference>ATSExtractedMasterSkill.TR1__Skill_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_over_Extracted_Skills.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ATSExtractedMasterSkill.TR1__Master_Skill_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_over_Extracted_Skills.Textkernel1__ExtractedSkill__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_ATS_Skills_To_Lists</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Professional_Skill</name>
        <label>Assign Professional Skill</label>
        <locationX>1716</locationX>
        <locationY>708</locationY>
        <assignmentItems>
            <assignToReference>ATSExtractedMasterSkill.TR1__Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Professional_Skill</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Other_Extracted_Fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Soft_Skill</name>
        <label>Assign Soft Skill</label>
        <locationX>1980</locationX>
        <locationY>708</locationY>
        <assignmentItems>
            <assignToReference>ATSExtractedMasterSkill.TR1__Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Soft_Skill</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Other_Extracted_Fields</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_empty_list</name>
        <label>Check for empty list</label>
        <locationX>660</locationX>
        <locationY>384</locationY>
        <defaultConnector>
            <targetReference>Iterate_over_Extracted_Skills</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Child_Extracted_Skills</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Is Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Determine_Skill_Category</name>
        <label>Determine Skill Category</label>
        <locationX>1980</locationX>
        <locationY>600</locationY>
        <defaultConnector>
            <targetReference>Assign_Other_Extracted_Fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IT_Skill</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_over_Extracted_Skills.Textkernel1__ExtractedSkillCategory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IT skill</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_IT_Skill</targetReference>
            </connector>
            <label>IT Skill</label>
        </rules>
        <rules>
            <name>Professional_Skill</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_over_Extracted_Skills.Textkernel1__ExtractedSkillCategory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Professional skill</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Professional_Skill</targetReference>
            </connector>
            <label>Professional Skill</label>
        </rules>
        <rules>
            <name>Soft_Skill</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_over_Extracted_Skills.Textkernel1__ExtractedSkillCategory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Soft skill</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Soft_Skill</targetReference>
            </connector>
            <label>Soft Skill</label>
        </rules>
        <rules>
            <name>Language_Skill</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Iterate_over_Extracted_Skills.Textkernel1__ExtractedSkillCategory__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Language skill</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Language_Skill</targetReference>
            </connector>
            <label>Language Skill</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Textkernel - Copy Parsed Skills to Converted Candidate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Textkernel - Copy Parsed Skills to Converted Candidate</label>
    <loops>
        <name>Iterate_over_Extracted_Skills</name>
        <label>Iterate over Extracted Skills</label>
        <locationX>1364</locationX>
        <locationY>492</locationY>
        <collectionReference>Get_Child_Extracted_Skills</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Determine_Skill_Category</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insert_skills_and_handle_duplicates</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Child_Extracted_Skills</name>
        <label>Get Child Extracted Skills</label>
        <locationX>660</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_empty_list</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Textkernel1__Candidate__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Textkernel1__ExtractedCandidateSkill__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Textkernel1__Status__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Converted</stringValue>
            </value>
        </filters>
        <filters>
            <field>Converted_Contact__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Textkernel1__ImportedCandidate__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Get_Child_Extracted_Skills</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>InvalidDraft</status>
    <variables>
        <name>ATSExtractedMasterSkill</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>TR1__Master_Skill__c</objectType>
    </variables>
    <variables>
        <name>ATSExtractedMasterSkillList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>TR1__Master_Skill__c</objectType>
    </variables>
    <variables>
        <name>ATSExtractedSkillsList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>TR1__Skills__c</objectType>
    </variables>
    <variables>
        <name>ATSExtratedSkill</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>TR1__Skills__c</objectType>
    </variables>
    <variables>
        <name>ATSNormalizedList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Textkernel1__NormalizedSkill__c</objectType>
    </variables>
    <variables>
        <name>ATSNormalizedSkill</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Textkernel1__NormalizedSkill__c</objectType>
    </variables>
</Flow>
