force-app/main/default/flows/UpdatePublicGroupMembership.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_for_Opco</name>
        <label>Check for Opco</label>
        <locationX>380</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Other Opco</defaultConnectorLabel>
        <rules>
            <name>If_opco_is_Not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Opco__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Public_Group</targetReference>
            </connector>
            <label>If opco is Not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Group_Exists</name>
        <label>Check If Group Exists</label>
        <locationX>182</locationX>
        <locationY>755</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Group_Exists_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_GroupID.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_User_to_Group</targetReference>
            </connector>
            <label>Group Exists 7</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_vs_Existing</name>
        <label>New vs Existing</label>
        <locationX>611</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Existing</defaultConnectorLabel>
        <rules>
            <name>New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNewUser</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_Opco</targetReference>
            </connector>
            <label>New</label>
        </rules>
    </decisions>
    <description>Record-Triggered Flow in Salesforce Flow Builder to update public group memberships for users based on their location</description>
    <environments>Default</environments>
    <formulas>
        <description>Check if User is new or Existing</description>
        <name>isNewUser</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>UpdatePublicGroupMembership {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UpdatePublicGroupMembership</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Add_User_to_Group</name>
        <label>Add User to Group</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <inputAssignments>
            <field>GroupId</field>
            <value>
                <elementReference>Get_GroupID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_GroupID</name>
        <label>Get GroupID</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_Group_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Public_Group.Public_group__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Public_Group</name>
        <label>Get Public Group</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_GroupID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opco__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opco__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opco_Public_Group__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>485</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>New_vs_Existing</targetReference>
        </connector>
        <object>User</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
