force-app/main/default/flows/Update_inactive_user_records_to_active_user.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Collection</name>
        <label>Assign Collection</label>
        <locationX>374</locationX>
        <locationY>1032</locationY>
        <assignmentItems>
            <assignToReference>AssignAccountowners</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Change_owner_on_account</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Change_owner_on_account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_owner</name>
        <label>Assign owner to Account</label>
        <locationX>374</locationX>
        <locationY>924</locationY>
        <assignmentItems>
            <assignToReference>Change_owner_on_account.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Active_users.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_Collection</name>
        <label>Assign Collection</label>
        <locationX>374</locationX>
        <locationY>1548</locationY>
        <assignmentItems>
            <assignToReference>AssignOpportunityrec</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Change_owner_on_Opportunity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Change_owner_on_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_owner</name>
        <label>Assign owner to Opportunity</label>
        <locationX>374</locationX>
        <locationY>1440</locationY>
        <assignmentItems>
            <assignToReference>Change_owner_on_Opportunity.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Active_users.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_Assign_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Copy_2_of_Assign_Collection</name>
        <label>Assign Collection</label>
        <locationX>374</locationX>
        <locationY>2064</locationY>
        <assignmentItems>
            <assignToReference>Assigncontactrecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Change_owner_on_Contact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Change_owner_on_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Copy_2_of_Assign_owner</name>
        <label>Assign owner to Contact</label>
        <locationX>374</locationX>
        <locationY>1956</locationY>
        <assignmentItems>
            <assignToReference>Change_owner_on_Contact.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Active_users.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_Copy_2_of_Assign_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Account_Opportunity_Contact_Records</name>
        <label>Account Opportunity Contact Records</label>
        <locationX>418</locationX>
        <locationY>600</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_Records</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>get_accounts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_opportunity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Active_users</targetReference>
            </connector>
            <label>Account Records</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update inactive user records to active user {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update inactive user records to active user</label>
    <loops>
        <name>Change_owner_on_account</name>
        <label>Change owner on account</label>
        <locationX>286</locationX>
        <locationY>816</locationY>
        <collectionReference>get_accounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_owner</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Change_owner_on_Contact</name>
        <label>Change owner on Contact</label>
        <locationX>286</locationX>
        <locationY>1848</locationY>
        <collectionReference>get_contact</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_2_of_Copy_2_of_Assign_owner</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_contact_record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Change_owner_on_Opportunity</name>
        <label>Change owner on Opportunity</label>
        <locationX>286</locationX>
        <locationY>1332</locationY>
        <collectionReference>get_opportunity</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_2_of_Assign_owner</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Opportunity_owner_record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_accounts</name>
        <label>get accounts</label>
        <locationX>418</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Responsible_Opco__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opco__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Active_users</name>
        <label>Get Active users</label>
        <locationX>286</locationX>
        <locationY>708</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Change_owner_on_account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Opco__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opco__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_contact</name>
        <label>get contact</label>
        <locationX>418</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Opportunity_Contact_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Responsible_Opco__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opco__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_opportunity</name>
        <label>get opportunity</label>
        <locationX>418</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Responsible_Opco__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opco__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_contact_record</name>
        <label>Update contact record</label>
        <locationX>286</locationX>
        <locationY>2256</locationY>
        <inputReference>Assigncontactrecords</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_owner_record</name>
        <label>Update Opportunity owner record</label>
        <locationX>286</locationX>
        <locationY>1740</locationY>
        <connector>
            <targetReference>Change_owner_on_Contact</targetReference>
        </connector>
        <inputReference>AssignOpportunityrec</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Record</name>
        <label>Update new owner Record</label>
        <locationX>286</locationX>
        <locationY>1224</locationY>
        <connector>
            <targetReference>Change_owner_on_Opportunity</targetReference>
        </connector>
        <inputReference>AssignAccountowners</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Opco__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>US</stringValue>
            </value>
        </filters>
        <object>User</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>get_accounts</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Accountinactiveuser</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Accountrecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>AssignAccountowners</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Assignaccrecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Assigncontactrecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>AssignOpportunityrec</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
