force-app/main/default/flows/Update_Job_Order_Status_on_Expiry.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>BypassTriggerValidation</name>
        <label>BypassTriggerValidation</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <actionName>TriggerControlFlowHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Job_Records</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowLabels</name>
            <value>
                <stringValue>JobPrefillHandler</stringValue>
            </value>
        </inputParameters>
        <nameSegment>TriggerControlFlowHelper</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_3_Days_left</name>
        <label>Send Email 3 Days left</label>
        <locationX>528</locationX>
        <locationY>684</locationY>
        <actionName>TR1__Job__c.Job_Timer_3_Days_Left_Accepting_Candidates</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Loop_Get_Records</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Loop_Get_Records.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>TR1__Job__c.Job_Timer_3_Days_Left_Accepting_Candidates</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_Update_Collection</name>
        <label>Add to Update Collection</label>
        <locationX>264</locationX>
        <locationY>792</locationY>
        <assignmentItems>
            <assignToReference>UpdateJobs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Get_Records</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Get_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Job_Status</name>
        <label>Update Job Status</label>
        <locationX>264</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>Loop_Get_Records.TR1__Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Get_Records.TR1__Closed_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed Expired</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Update_Collection</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>sorting</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>sorting</label>
        <locationX>792</locationX>
        <locationY>684</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>UpdateJobs</collectionReference>
        <connector>
            <targetReference>Loop_Get_Records</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>Job_Expiry_Date__c</sortField>
            <sortOrder>Desc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <description>This flow automates the process of sending an email notification and updating the job status. When the timer has 3 days remaining, the flow sends an email to the designated recipient and updates the job status to &apos;Timer has 3 days pending.&apos; Once the timer is complete, the flow updates the job status to &apos;Timer Closed.</description>
        <name>Check_Days_Left_on_Timer</name>
        <label>Check Days Left on Timer</label>
        <locationX>528</locationX>
        <locationY>576</locationY>
        <defaultConnector>
            <targetReference>sorting</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Timer_Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Get_Records.Job_Expiry_Date__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Job_Status</targetReference>
            </connector>
            <label>Timer Closed</label>
        </rules>
        <rules>
            <name>Timer_Has_3_Days_Pending</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Get_Records.Job_Expiry_Date__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>CurrentDatePlus3Days</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Get_Records.Job_Expiry_Date__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>CurrentDatePlus2Days</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_3_Days_left</targetReference>
            </connector>
            <label>Timer Has 3 Days Pending</label>
        </rules>
    </decisions>
    <description>Scheduled Flow to update the job order status based on the expiration date.</description>
    <environments>Default</environments>
    <formulas>
        <name>CurrentDatePlus2Days</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}+2</expression>
    </formulas>
    <formulas>
        <description>check if days left is less than or 3 days or not</description>
        <name>CurrentDatePlus3Days</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}+3</expression>
    </formulas>
    <interviewLabel>Update Job Order Status on Expiry {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Job Order Status on Expiry</label>
    <loops>
        <name>Loop_Get_Records</name>
        <label>Loop Get Records</label>
        <locationX>176</locationX>
        <locationY>468</locationY>
        <collectionReference>Get_Job_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Days_Left_on_Timer</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateJobCollection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get all Job Records</description>
        <name>Get_Job_Records</name>
        <label>Get Job Records</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Get_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TR1__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Accepting Candidates</stringValue>
            </value>
        </filters>
        <filters>
            <field>Job_Expiry_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>TR1__Job__c</object>
        <sortField>Job_Expiry_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateJobCollection</name>
        <label>UpdateJobCollection</label>
        <locationX>176</locationX>
        <locationY>1068</locationY>
        <inputReference>UpdateJobs</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>BypassTriggerValidation</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2024-07-12</startDate>
            <startTime>00:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>UpdateJobs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TR1__Job__c</objectType>
    </variables>
</Flow>
